/* ==================================================
Стандартные стили */

body {
    margin: 0 auto;
    background-color: rgba(254, 254, 254, 1);
    min-width: 1024px;
	font-family: 'Arial', serif;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
}

/* ================================================== */

.left{
	height: 100%;
	width: 100%;
	background: black;
}

.page {
    background-color: rgba(255, 255, 255, 1);
	margin: auto;
	width: 1200px;	
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}

.page .top {
	background-color: rgba(242, 242, 242, 1);
}



.content {
    margin: auto;
    /* border: 1px solid gray; */
    padding-bottom: 100px;
	border-top: 1px solid #dbdbdb;
}

.content-top {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 5;
	border-bottom: 1px solid #dbdbdb;
}

.avatar-block {
	margin-left: 10px;
    margin-bottom: 10px;
	margin-top: 10px;
    overflow: hidden;
    width: 150px;
	height: 150px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
}

.avatar {
	background-image: url('images/putin.jpg');
    background-size: contain;
	background-position: center;
    padding: 10px;
    width: 100%;
    height: 100%;
}


.days-container ul {
    width: 100%;
    font-size: 2em;
    display: flex;
    transition: 0.2s ease;
}

.days-container ul:hover {
    transition: 0.2s ease;
    background: rgba(247, 255, 102, 1);
}

.days-container li {
    text-align: center;
    padding: 20px;
}

.name-day {
    border-right: 3px solid white;
    width: 30%;
}

.subject {
    width: 40%;
    padding-left: 40px;
    border-right: 3px solid white;
}

.time {
    width: 30%;
    padding-right: 40px;
}

.title_main {
    margin-top: 70px;
    background: rgba(240, 240, 240, 1);
}

.title_monday {
    background: rgba(0, 200, 120, 1)
}

.title_tuesday {
    background: rgba(238, 109, 109, 1);
}

.title_wednesday {
    background: rgba(87, 134, 255, 1);
}

/*============> Мой Вариант <============*/

table {
	margin: auto;
	margin-top: 10px;
    font-family: arial, sans-serif;
	border: 1px solid #dddddd;
	border-radius: 4px;
/*    border-collapse: collapse;*/
    width: 99%;
}

.tableTop, th {
	padding: 8px;
	text-align: left;
	background: #0da059;

}

td {
    text-align: left;
    padding: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

.weekday {
	
}

/*============> Мой Вариант <============*/

.title-content {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.5em;
}

h1{
    margin: 0;
    font-size: 1em;

}
h2{
    margin: 20px;
}

.footer {
    width: 100%;
    margin-top: 200px;
    border-top: solid 3px #3EBB3E;
    background: rgba(242, 242, 242, 1);
    font-family: Consolas, Arial;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
