body {
    overflow-y: scroll;
    min-width: 600px;
}

.day_title {
    padding: 5px 0 10px 0;
}

.str_plan ul li:nth-child(1) {
    width: 15%;
}

.str_plan ul li:nth-child(2) {
    width: 15%;
}

.str_plan ul li:nth-child(5) {
    width: 15%;
}

.str_plan ul li:nth-child(6) {
    width: 15%;
}

.str_plan ul li {
    width: 30%;
}

.str_plan ul li a, .str_plan ul li input {
    /*min-height: 30px;*/
    /* Это чтобы избежать мерцания, но тогда не красиво получается... =( */
    text-align: center;
}

.str_plan:nth-child(2) {
    /*margin: 5px 0 0 0;*/
}

.plus_button_form {
    margin: auto;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    transition: 0.3s;
    padding: 0 0 0 0;

}

.plus_button {
    transition: 0.1s;
    height: 100%;
    background: url("../../images/plus_1.png") center no-repeat;
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;

}

.str_plan.str_plus {;
    cursor: default;
    background: rgba(255,255,255,0);
    padding: 0px 0 5px 0;
    /*плюс анимируется*/
    margin-top: 10px;
}

.str_title {
    cursor: default;
    /*margin-bottom: 5px;*/
}

/*чтобы аниация плюса не портилась нужно добавлять мэрджин именно сюда, а не в str_title*/
.str_plan.change:nth-child(2) {
    margin-top: 5px;
}

.plus_button_form:hover .plus_button {
    opacity: 1;
}

.plus_button_form:active .plus_button {
    opacity: 0.7;
}

.str_title .checkbox_container {
    border: 2px solid rgba(255, 255, 255, 1);
}

.str_title .checkbox_wrap {
    border-right: 1px solid rgba(91, 178, 102, 0.4);
}

.checkbox_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 40px;
    padding-left: 2px;
    border-right: 1px solid rgba(230, 230, 230, 1);
    cursor: pointer;
}

.checkbox_container {
    display: flex;
    width: 23px;
    height: 23px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid rgba(103, 198, 97, 1);
    cursor: pointer;

}

.content_day_title {
    flex-direction: row;
}

.tools_panel.left {
    width: 35%;
    min-width: 170px;
    /*background: blue;*/

}

.tools_panel.right {
    width: 35%;
    float: right;
    text-align: right;
}

.day_title_container {
    text-align: center;
    width: 30%;
    /*background: red;*/
}

.tools_panel ul {
    height: 30px;
    /*background: dodgerblue;*/
}

.tools_panel ul li {
    display: inline-flex;
    height: 100%;
    width: 80px;
}

.tools_panel.right ul li {
    width: 70px;
}

.tools_panel.left ul li:first-child {
    /*margin-left: 8px;*/
    margin-right: 2px;
}

.tools_panel ul li button {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    border-radius: 3px;
}

.share_button {
    display: inline;
    position: relative;
}

.share_button .first_layer {
    position: absolute;
    width: 70px;
    padding: 3px 0 3px 0;
    background-color: #9dc8eb;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.1s ease;
    user-select: none;
}

.share_button .second_layer {
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: #7598ba;
    color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.share_button .first_layer:hover {
    cursor: pointer;
}

.share_button .first_layer:active {
    margin-top: 2px;
}

#btn-Convert-Html2Image {
    width: 100px;
    height: 1000px;
    background-color: #eb6b66;
}

.KLOSS {
    position: absolute;
    width: 1000px;
    height: auto;
    margin: auto;
    opacity: 0;
}

.drop_list {
    display: none;
    position: absolute;
    max-height: 150px;
    background-color: #ffffff;
    /*border-bottom: 2px solid rgba(139, 29, 235, 0.50);*/
    /*border-left: 2px solid rgba(139, 29, 235, 0.50);*/
    /*border-right: 2px solid rgba(139, 29, 235, 0.50);*/
    border: 2px solid rgba(139, 29, 235, 0.50);
    border-radius: 4px;
    -webkit-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.drop_list ul li {
    display: flex;
    justify-content: center;
    vertical-align: middle;

}

.drop_list ul li a {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(231, 230, 235);

    /*border-radius: 4px;*/
    text-align: center;
    padding: 0 5px 0 5px;
    max-height: 25px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.drop_list ul li a:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 245);
}

.plan_load_progres {
    width: 100%;
}

.plan_load_progres_indicator {
    display: none;
    width: 60px;
    height: 60px;
    margin: auto;
    background-image: url("../../images/progress_indicator.gif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*создание первого расписания*/
.create_plan_first, .select_plan{
    font-size: 1.5em;
    font-weight: 600;
    margin: 2px 0 2px 0;
}






