[flake8]

ignore =
    # line too long
    E501,
    # module level import not at top of file
    E402,
    #
    F403,
    # name may be undefined, or defined from star imports: module
    F405

max-complexity = 10
