[flake8]

ignore =
    # line too long
    E501,
    # module level import not at top of file
    E402,
    # ---
    F403,
    # name may be undefined, or defined from star imports: module
    F405,
    # trailing whitespace
    W291,
    # local variable is assigned to but never used
    F841,
    # redefinition of unused
    F811,
    # indentation is not a multiple of four
    E111

max-complexity = 12
