{#    этот div класс нужен для стилизации#}
<div class="plan_settings_layouts"></div>


<div class="invite_settings_layouts">
    <div class="invite_by_mail">

        <div class="form-group">
            <span>Пригласить по почте</span>
            <div class="split-line"></div>
            <p class="invite_info">Введите один или более почтовых адресов для приглашения других пользователей к
                участию в этом расписании.
                Приглашённые пользователи будут иметь право просматривать расписание и следить за новостями.</p>
            <p></p>
            <div class="invite_input_block">
                <div class="input_outer row text-center">
                    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                        <input type="email" class="invite_input btn-lg"
                               placeholder="Введите почту для приглашения">
                    </div>
                </div>
            </div>

        </div>
        <div class="row settings_btns_content text-center">
            <div class="form-group">
                <button class="btn-back btn btn-lg btn-primary">Отмена</button>
                <button id="invite_btn" class="disabled btn-okay btn btn-lg btn-success">Пригласить</button>
            </div>
        </div>

    </div>
    <div class="invite_by_link">

        <div class="form-group">
            <span>Пригласить по ссылке</span>
            <div class="split-line"></div>
            <p class="invite_info">Чтобы пригласить новых участников в расписание отправьте активную ссылку. По данной
                активной ссылке любой человек сможет стать участником данного расписания. Действите ссылки можно прекратить в любой момент.</p>
            <div class="row text-center">
                <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                    <input id="invite_link" type="url" class="btn-lg" autocomplete="off" placeholder="http://">
                    <div class="invite_link_btns btn-group">
                        <button class="btn btn-lg btn-default">Create</button>
                        <button class="btn btn-lg btn-default">Copy</button>
                        <button class="btn btn-lg btn-default">Share</button>
                        <button class="btn btn-lg btn-default">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

</div>


{% include "modal_frames/modal_plan_remove.html" %}