{#    этот div класс нужен для стилизации#}
<div class="plan_settings_layouts" {% if user_has_edit_plan %}user_has_edit_plan="yes"{% endif %}>
    <div class="plan_settings_content-1">
        {#    <div class="button_style"></div>#}

        <div class="st-inner-content">
            <h4>Current plan info</h4>

            <div class="split-line"></div>

            <div class="datepicker_content">

                <label>Date of start plan</label>

                <div class='input-group date' id='datetimepicker'>
                    <input id="start_date" type='text' class="form-control"
                           value="{{ cur_plan.plan.start_date | date:"j m Y " }}"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="split-line"></div>
            {% if not user_has_edit_plan %}
                <div>
                    <label>You can leave this plan</label>
                </div>
                <div id="remove_plan" class="btn btn-danger btn-sm">Leave plan</div>
            {% endif %}
            {% if user_has_edit_plan %}
                <div>
                    <label>You can remove this plan</label>
                </div>
                <div id="remove_plan" class="btn btn-danger btn-sm">Remove plan</div>
            {% endif %}

        </div>
    </div>
    <div class="plan_settings_content-2">
        <div class="st-inner-content">
            <h4>Current plan info</h4>
            <div class="split-line"></div>
            <ul class="plan_info_content">
                <li>
                    <label>Title</label>
                    <div class="plan_info">{{ cur_plan.plan.title }}</div>
                </li>
                <li>
                    <label>Start date work</label>
                    <div class="plan_info"> {{ cur_plan.plan.start_date | date:"j (l) F Y " }} </div>
                </li>
            </ul>


        </div>
    </div>
</div>
<div class="row settings_btns_content text-center">
    {% if user_has_edit_plan %}
        <button class="btn-back btn btn-lg btn-primary">Назад</button>
        <button class="btn-okay btn btn-lg btn-success">Сохранить</button>
    {% endif %}
    {% if not user_has_edit_plan %}
        <button class="btn-back btn btn-lg btn-primary">К расписанию</button>
    {% endif %}
</div>


{% include "modal_frames/modal_plan_remove.html" %}