<div class="title_content" plan_id="{{ cur_plan_info.2 }}">
    <div id="plan_title">
        <input id='title_edit_input' type="text" value="{{ cur_plan_info.0 }}">
    </div>
    <div id="count_title">{{ cur_plan_info.3 }}</div>
</div>

<!-- Сегодня -->
<div class="plan_content">
    <div class="plan_window">
        <div class="content_day_title">
            <div class="day_title">Сегодня</div>
            <div class="day_data">{{ today_plan.format_date }}</div>
            <a>{{ today_plan.date }}</a>
        </div>
        <div class="day_plan_content">
            <div class="str_plan str_title">
                <ul>
                    <li><a>Время</a></li>
                    <li><a>Предмет</a></li>
                    <li><a>Преподаватель</a></li>
                    <li><a>Аудитория</a></li>
                </ul>
            </div>
            {#                        а это уже в django шаблоны#}
            {% for row in today_plan.plan_rows %}
                <div class="str_plan">
                    <ul>
                        <li><a>{{ row.time.get_format_time }}</a></li>
                        <li><a>{{ row.subject.name }}</a></li>
                        <li><a>{{ row.teacher.name_short }}</a></li>
                        <li><a>{{ row.place.name }}</a></li>
                    </ul>
                    <a>{{ plan_id }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Завтра -->
<div class="plan_content">
    <div class="plan_window">
        <div class="content_day_title">
            <div class="day_title">Завтра</div>
            <div class="day_data">{{ tomorrow_plan.format_date }}</div>
            <a>{{ tomorrow_plan.date }}</a>
        </div>
        <div class="day_plan_content">
            <div class="str_plan str_title">
                <ul>
                    <li><a>Время</a></li>
                    <li><a>Предмет</a></li>
                    <li><a>Преподаватель</a></li>
                    <li><a>Аудитория</a></li>
                </ul>
            </div>
            {#                        а это уже в django шаблоны#}
            {% for row in tomorrow_plan.plan_rows %}
                <div class="str_plan">
                    <ul>
                        <li><a>{{ row.time.get_format_time }}</a></li>
                        <li><a>{{ row.subject.name }}</a></li>
                        <li><a>{{ row.teacher.name_short }}</a></li>
                        <li><a>{{ row.place.name }}</a></li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>