.pr_title_content, .pr_ava_content, .pr_content, .pr_captain_plans, .pr_admin_plans, .pr_participant_plans, .pr_invited_plans {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  border: 1px solid #e6e6e6;
  background: white;
  padding: 10px; }

.pr_page h2, .pr_page h3, .pr_page h4 {
  margin: 10px;
  padding: 0; }
.pr_page label, .pr_page span, .pr_page input {
  font-size: 1.2em; }
.pr_page span {
  font-size: 1.5em; }
.pr_page input[type='checkbox'] {
  height: 20px;
  width: 20px; }
.pr_page h3 {
  margin-bottom: 20px;
  margin-left: 20px; }
.pr_page h4 {
  margin: 0; }
.pr_page .comment {
  font-weight: normal;
  font-size: 12px;
  margin-left: 2px; }
.pr_page .share, .pr_page input[type='checkbox'] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pr_top_content {
  display: flex;
  width: 100%; }

input#first_name, input#last_name {
  border: 2px solid #d9d9e3;
  text-align: center;
  font-family: "PT Sans" !important;
  font-size: 22px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  transition: 0.4s border ease; }
  input#first_name:focus, input#last_name:focus {
    border: 2px solid rgba(139, 29, 235, 0.4);
    outline: none; }

input#first_name {
  margin-top: 4px;
  margin-bottom: 4px; }
input#last_name {
  margin-top: 4px;
  margin-bottom: 0px; }

input::-webkit-input-placeholder {
  color: #d2d2d2; }

input:-moz-placeholder {
  color: #d2d2d2; }

input::-moz-placeholder {
  color: #d2d2d2; }

input:-ms-input-placeholder {
  color: #d2d2d2; }

.pr_title_content {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column; }
  .pr_title_content span {
    margin-top: 4px;
    font-size: 1em; }

.pr_ava_content {
  margin-left: 5px;
  padding: 0; }

.pr_ava_img {
  width: 130px;
  height: 130px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }

.pr_content {
  margin-top: 5px;
  padding-top: 15px; }

.pr_mail .pr_share_block .pr_pass_block {
  text-align: center; }

.pr_captain_plans, .pr_admin_plans, .pr_participant_plans, .pr_invited_plans {
  margin-top: 10px;
  margin-bottom: 10px; }

.pr_plans_content {
  margin: 3px;
  display: inline-block;
  transition: 0.2s opacity ease;
  overflow: hidden;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)";
  /* IE 5-7 */
  filter: alpha(opacity=0.8);
  /* Netscape */
  -moz-opacity: 0.8;
  /* Safari 1.x */
  -khtml-opacity: 0.8;
  /* Good browsers */
  opacity: 0.8; }
  .pr_plans_content img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 120px;
    height: 120px;
    z-index: 1; }
  .pr_plans_content:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    /* IE 5-7 */
    filter: alpha(opacity=1);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1; }

.pr_img_title {
  font-family: "PT Sans";
  position: absolute;
  width: 120px;
  height: 20px;
  background: #ebebeb;
  color: black;
  top: 4px;
  left: 0px;
  z-index: 10;
  text-align: center;
  cursor: default;
  transition: 0.5s opacity ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -khtml-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
  -ms-border-radius: 0px 0px 4px 4px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  /* IE 5-7 */
  filter: alpha(opacity=1);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1; }

.pr_color_type {
  position: absolute;
  height: 4px;
  width: 120px;
  content: "";
  z-index: 9;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -khtml-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
  -ms-border-radius: 4px 4px 0px 0px; }

.color_elder {
  background-color: #d9534f; }

.color_admin {
  background-color: #aa66cc; }

.color_invited {
  background-color: #4285F4; }

.color_participant {
  background-color: #2BBBAD; }

.pr_plans_grid {
  display: flex;
  flex-wrap: wrap; }

.btn.pr_pass_btn:active, .btn.pr_pass_btn:focus, .btn.pr_pass_btn:link, .btn.pr_pass_btn:hover {
  outline: none; }

.pr_content_title {
  display: inline-flex;
  justify-content: flex-start; }
  .pr_content_title span {
    margin-left: 10px;
    margin-right: 20px; }
  .pr_content_title ul {
    display: inline-flex;
    flex-direction: row; }
    .pr_content_title ul li {
      margin-left: 1px;
      margin-right: 1px; }
      .pr_content_title ul li button.btn:active, .pr_content_title ul li button.btn:focus, .pr_content_title ul li button.btn:link, .pr_content_title ul li button.btn:hover {
        outline: none;
        transition: 0.5s background-color ease; }
      .pr_content_title ul li button.btn:focus {
        border: 1px solid rgba(255, 255, 255, 0);
        background-color: #d9534f; }
      .pr_content_title ul li button.btn:active {
        border: 1px solid #ccc;
        background-color: #e6e6e6; }

/*# sourceMappingURL=account.css.map */
