@import "global_vars"

%block_style
  @include border-radius($gl_border_radius)
  border: $gl_block_border
  background: white
  padding: $gl_block_padding

.pr_page
  h2, h3, h4
    margin: 10px
    padding: 0
  label, span, input
    font-size: 1.2em
  span
    font-size: 1.5em
  input[type='checkbox']
    height: 20px
    width: 20px
  h3
    margin:
      bottom: 20px
      left: 20px
  h4
    margin: 0

  .comment
    font-weight: normal
    font-size: 12px
    margin-left: 2px
  .share, input[type='checkbox']
    cursor: pointer
    @include user-select(none)


.pr_top_content
  display: flex
  width: 100%




input
  &#first_name
    @extend %input_styles
    margin:
      top: 4px
      bottom: 4px
  &#last_name
    @extend %input_styles
    margin:
      top: 4px
      bottom: 0px

@include placeholder()
  color: rgba(210,210,210,1)



.pr_title_content
  //width: calc(#{$profile-left-content} + 50px)
  width: 100%
  height: 140px
  text-align: center
  @extend %block_style
  @include set-flex(center)
  flex-direction: column
  span
    margin-top: 4px
    font-size: 1em

.pr_ava_content
  margin-left: 5px
  padding: 0
  @extend %block_style


.pr_ava_img
  //max-width: 140px
  //max-height: 140px
  height: 140px
  width: 140px
  @include border-radius(4px)
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  overflow: hidden

.pr_content
  @extend %block_style
  margin:
    top: 5px
  padding:
    top: 15px

.pr_mail .pr_share_block .pr_pass_block
  text-align: center

.pr_captain_plans, .pr_admin_plans, .pr_participant_plans, .pr_invited_plans
  margin:
    top: 10px
    bottom: 10px
  @extend %block_style


$text-height-size: 20px
$ava-size: 120px

.pr_plans_content
  margin: 3px
  display: inline-block
  transition: 0.2s opacity ease
  overflow: hidden

  img
    @include user-select(none)
    cursor: pointer
    width: $ava-size
    height: $ava-size
    z-index: 1

  @include opacity(0.8)

  &:hover
    @include opacity(1)



.pr_img_title
  font-family: "PT Sans"
  position: absolute
  width: $ava-size
  height: $text-height-size
  background: rgba(235,235,235,1)
  color: black
  //top: $img-size/2 - $height-size/2px
  top: 4px
  left: ($ava-size - $ava-size)/2
  z-index: 10
  text-align: center
  cursor: default
  transition: 0.5s opacity ease

  @include set-ellipsis()
  @include user-select(none)
  @include border-radius(0px 0px 4px 4px)
  @include opacity(1)

.pr_color_type
  position: absolute
  height: 4px
  width: $ava-size
  content: ""
  z-index: 9
  @include border-radius(4px 4px 0px 0px)

.color_elder
  background-color: #d9534f
.color_admin
  background-color: #aa66cc
.color_invited
  background-color: #4285F4
.color_participant
  background-color: #2BBBAD

.pr_plans_grid
  display: flex
  flex-wrap: wrap

.btn.pr_pass_btn
  &:active, &:focus, &:link, &:hover
    outline: none

.pr_content_title
  display: inline-flex
  justify-content: flex-start
  span
    margin:
      left: 10px
      right: 20px
  ul
    display: inline-flex
    flex-direction: row
    li
      margin:
        left: 1px
        right: 1px
      button.btn
        &:active, &:focus, &:link, &:hover
          outline: none
          transition: 0.5s background-color ease

        &:focus
          border: 1px solid rgba(255,255,255,0)
          background-color: #d9534f

        &:active
          border: 1px solid #ccc
          background-color: #e6e6e6


