/*работа шрифта для Mozilla Firefox*/
@-moz-document url-prefix() {
    * {
        font-family: SegoeUIRegular !important;
        font-weight: 300 !important;
    }
}

a {
    font-family: SegoeUIRegular;
}

body {
    font-family: SegoeUIRegular;
}

input {
    font-family: SegoeUIRegular;
    outline: none;
    font-size: 1em;
    border: 0;
}

#login-top, #sing_up-top {
    float: right;
    display: block;
}
#sing_up-top a{
    margin-right: 8px;
}
#login-top a, #sing_up-top a {
    text-align: center;
    display: block;
    padding-top: 1px;
    font-size: 1em;
    padding-top: 4px;
    padding-bottom: 6px;
    margin-top: 5px;
    width: 100px;
}

#sing_up-top a {
    color: white;
    background: black;
    border-radius: 15px;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: Segoe UI Light;
    margin: 0;
    padding: 0;
}


h3 {
    margin-bottom: 100px;
    margin-top: 30px;
}

ul {
    margin-top: 50px;
    width: 100%;
}


/*дальше идут стили для форма входа*/

input, select{
    margin: 5px;
    padding-left: 20px;
    padding-rigth: 20px;
    padding-bottom: 1px;
    dislay: block;
    width: 200px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

button {
    outline: none;
    border: none;
    display: block;
    height: 50px;
    padding: 0;
    padding-bottom: 2px;
    border-radius: 4px;
    color: black;
    box-shadow: none;
    text-align: center;
    width: 150px;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

/*панель регистрации*/
*:focus {
    outline: none;
}

.form {
    margin: 0;
    padding: 0;
}

.add_schedules {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 15px;
}

.add_schedules ul {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.add_schedules li{
    float: left;
}

.add_schedules li select{
    display: inline-block;
}

.title-sign {
    font-size: 1.5em;
}

.add_schedules .title-sign {
    text-align: center;
    margin-bottom: 30px;
}

/*то что относится к меню добавления ========================================================*/
#range_weeks-end, #range_weeks-start{
    width: 80px;
    padding-left: 0px;
    text-align: center;
}

.block2{
    margin-top: 15px;
}


/*то что относится к меню добавления ========================================================*/



.form-text, .upgrade-text {
    text-align: center;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
}

.upgrade-text{
    margin-top: 30px;
    margin-bottom: 20px;
}



.back {
    color: black;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.back:hover {
    color: rgba(120, 120, 120, 1);
}

.back:active {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.4);
    color: black;
}


.add_schedules {
    width: 900px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;

}

.add_schedules .buttons-panel {
    display: block;
    text-align: center;
    padding-top: 5px;
}

.add_schedules .buttons-panel button {
    display: inline;
    padding: 0;
    margin: 0;
    width: 147px;

}

.add_schedules .buttons-panel button:first-child {
    margin-right: 1px;
}

.add_schedules .buttons-panel button:last-child {
    margin-left: 1px;
}

#submit-add {
    background: rgba(13, 165, 89, 1);
    color: white;
}

#submit-add:hover {
    background: rgba(13, 180, 89, 1);
}

#submit-add:active {
    color: rgba(230, 230, 230, 1);
    background: rgba(13, 170, 89, 1);
    /*box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);*/
}


/*то, что скрыто вначале*/

.add_schedules {
    display: none;
    /*opacity: 0;*/
}


h3{
    display: none;
}
/*то, что скрыто вначале*/






@media only screen {
    input {
        font-family: SegoeUIRegular !important;
    }

    body {

        font-family: SegoeUIRegular !important;
    }

    h1, h2, h3, h4 {
        font-family: SegoeUILight !important;
    }
    input{
        overflow: visible;
        -webkit-appearance: none;
        -box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    }
}