@charset "UTF-8";
body {
  overflow-y: scroll;
  min-width: 600px; }

.page {
  clear: both; }

.plan_window {
  background: white;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  padding-bottom: 10px; }
  .plan_window:first-child {
    margin-top: 0; }

.content {
  margin: auto;
    margin-top: 10px;
  background: #f4f3f8;
  width: 100%;
  max-width: 1200px;
  padding: 0 8px 0 8px; }

.left_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  float: left;
  margin-right: 8px;
  margin-top: 10px; }

.right_content {
  float: left;
  width: calc(100% - 188px);
  margin-top: 10px; }

@media (max-width: 767px) {
  .right_content {
    width: 100%; } }
.ava_content, .ava_cover, .ava_cover_text {
  width: 180px;
  height: 180px;
  cursor: default;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px; }

.ava_content {
  border: 1px solid #e6e6e6;
  background: center no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: 0.2s; }

.ava_cover {
  position: absolute;
  background: white;
  opacity: 0;
  transition: 0.3s; }
  .ava_cover:hover {
    opacity: 0.8; }

.ava_cover_text {
  display: flex;
  justify-content: center;
  align-items: center; }
  .ava_cover_text p:hover {
    cursor: pointer;
    color: #8b1deb; }

.plan_selector {
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  overflow: hidden; }

.plan_selector:hover {
  cursor: default; }
.plan_selector ul li {
  border: 1px solid gainsboro;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  margin-top: 5px;
  overflow: hidden; }
  .plan_selector ul li a {
    display: block;
    padding: 10px 0 10px 10px;
    line-height: 20px;
    width: 100%;
    cursor: pointer; }
  .plan_selector ul li p {
    display: none; }

#plan_selector_title {
  display: block;
  margin: 10px 0 15px 10px; }

.create_plan li a {
  display: block;
  height: 35px;
  width: 100%;
  line-height: 20px;
  padding: 10px 0 10px 10px;
  background: #f4f3f8 url("../images/plus.png") center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  cursor: pointer; }

.user_image {
  margin-left: 10px;
  float: left;
  height: 30px;
  width: 30px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  background: center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.title_content {
  display: flex;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  background: white;
  padding: 10px 0 10px 0;
  text-align: center;
  border: 1px solid #e6e6e6;
  transition: 0.3s all; }
  .title_content h2 {
    padding: 10px 0 10px 0;
    margin: 0; }

.buttons_setting {
  margin-top: 10px; }

.setting_success {
  margin-right: 2px; }

.setting_cancel {
  margin-left: 2px; }

.form-group {
  margin: 0;
    margin-left: 25px;
  padding: 0; }

#plan_title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  cursor: default; }

#title_edit_input {
  width: 100%;
  font-size: 2em;
  border: 1px solid white;
  text-align: center;
  transition: 0.3s;
  text-overflow: ellipsis; }
  #title_edit_input:focus {
    outline: none;
    cursor: auto;
    border: 1px solid #d9d9e3; }
  #title_edit_input:hover {
    outline: none;
    cursor: pointer; }
  #title_edit_input:disabled {
    background: rgba(255, 255, 255, 0);
    cursor: default; }

#count_title {
  margin-top: 5px;
  padding-top: 1px;
  font-size: 1em; }

.title_wrap {
  background: gray; }

.icon_setting_content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-end;
  margin-right: 20px;
  float: right;
  height: 100%; }

.plan_settings {
  font-size: 1.5em;
  cursor: pointer; }

.data_work {
  height: 100%;
  float: left;
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }

.start_date {
  margin-bottom: 2px; }

.end_date {
  margin-top: 2px; }

.setting_left {
  width: 40%;
  display: flex;
  /*background: blue; */
  align-items: center;
  align-content: center; }

.setting_right {
  width: 40%; }

.plan_settings_content-1 {
  margin-top: 10px; }
  .plan_settings_content-1:last-child {
    margin-bottom: 300px; }

.content_day_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  width: calc(100% - 40px);
  margin: auto;
  border-bottom: 1px solid #d2d2d2; }
  .content_day_title a {
    display: none; }

.day_data {
  padding: 0 0 10px 0; }

.day_plan_content {
  margin: auto;
  width: calc(100% - 20px); }

.str_plan {
  display: flex;
  flex-direction: row;
  /*╨Я╤Г╨╜╨║╤В╤Л ╨▓╨╜╤Г╤В╤А╨╕ ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А╨░ ╨▒╤Г╨┤╤Г╤В ╤А╨░╤Б╨┐╨╛╨╗╨░╨│╨░╤В╤М╤Б╤П ╨│╨╛╤А╨╕╨╖╨╛╨╜╤В╨░╨╗╤М╨╜╨╛ */
  align-items: stretch;
  /*╨Я╤Г╨╜╨║╤В╤Л ╨▓╨╜╤Г╤В╤А╨╕ ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╨▒╤Г╨┤╤Г╤В ╨┐╤А╨╕╨╜╨╕╨╝╨░╤В╤М ╨▓╤Б╤О ╨╡╨│╨╛ ╨▓╤Л╤Б╨╛╤В╤Г */
  margin-top: 3px;
  /*╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╨╝╨╡╨╢╨┤╤Г ╤Б╤В╤А╨╛╤З╨║╨░╨╝╨╕ */
  margin-right: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  background: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  cursor: default; }
  .str_plan ul {
    display: flex;
    min-height: 32px;
    text-align: center;
    border: 2px solid rgba(3, 96, 255, 0);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -ms-border-radius: 4px;
    width: 100%;
    background: rgba(255, 255, 255, 0); }
    .str_plan ul li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      width: 30%;
      border-right: 1px solid #e6e6e6; }
      .str_plan ul li:first-child {
        width: 20%;
        padding-left: 0; }
      .str_plan ul li:last-child {
        width: 20%;
        padding-right: 0;
        border-right: none; }
      .str_plan ul li a, .str_plan ul li textarea, .str_plan ul li input {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;
        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        -ms-border-radius: 4px;
        width: 100%;
        min-height: 32px;
        text-align: center;
        border: 2px solid rgba(100, 149, 237, 0);
        cursor: default;
        background: none;
        outline: none;
        -moz-appearance: none;
        overflow-y: hidden;
        resize: none;
        transition: 0.1s all; }
      .str_plan ul li textarea, .str_plan ul li button {
        cursor: pointer; }
      .str_plan ul li textarea {
        /*╤Г╨▒╤А╨░╤В╤М ╨║╤А╨╡╤Б╤В╨╕╨║ ╨╛╤З╨╕╤Б╤В╨║╨╕ */
        height: 32px; }
        .str_plan ul li textarea::-ms-clear {
          display: none; }
        .str_plan ul li textarea:focus {
          outline: none;
          cursor: auto;
          border: 2px solid rgba(139, 29, 235, 0.4); }

textarea::-webkit-input-placeholder {
  padding-top: 1px;
  color: #c3c3c3;
  text-align: center;
  text-overflow: ellipsis; }

textarea:-moz-placeholder {
  padding-top: 1px;
  color: #c3c3c3;
  text-align: center;
  text-overflow: ellipsis; }

.str_title {
  background: rgba(103, 198, 97, 0.9);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -ms-border-radius: 4px;
  margin-top: 10px;
  min-height: 30px; }
  .str_title:first-child li {
    border-right: 1px solid rgba(91, 178, 102, 0.4); }

#plan_title_input {
  text-align: center; }

.comment_text_hidden {
  visibility: hidden;
  position: absolute;
  display: block;
  background: red;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto; }

/*# sourceMappingURL=base.css.map */
