@media all {
    body {
        font-family: "PT Sans" !important;
    }

    a {
        font-family: "Cyntho Pro" !important;
    }

    .top a {
        font-family: "PT Sans" !important;
    }

    .top ul {
        font-size: 18px;
    }

    .logo a {
        /*font-family: "Fira Sans" !important;*/
        font-family: "Cyntho Pro" !important;
    }

    .plan_selector label, .users_online label {
        font-family: "PT Sans" !important;
        font-size: 1.1em;
    }

    .droplist a {
        font-family: "Fira Sans" !important;
        font-size: 0.9em;
    }

    .droplist_click ul li a {
        font-family: "Cyntho Pro" !important;
        font-size: 0.8em;
        font-weight: 400;
    }

    .day_title {
        font-size: 1.5em;
    }

    .str_title:first-child li a {
        /*font-size: 1em;*/
    }

    .str_plan ul li a, .str_plan ul li textarea {
        font-family: "Cyntho Pro" !important;
        font-size: 16px;
        /*font-size: 1vw;*/
        /*min-font-size: 0.6vw;*/
    }

    /*страница регистрации авторизации*/
    h1, h2, h3 {
        font-family: "Cyntho Pro" !important;
    }

    .welcome_text {
        font-family: "Segoe UI Light";

    }

    .about_service_text {
        font-family: "Cyntho Pro" !important;
    }

}

/*все, что написали выше, дублируем сюда, для Firefox*/
@-moz-document url-prefix() {
    body {
        font-family: "PT Sans" !important;
    }

    a {
        font-family: "Cyntho Pro" !important;
    }

    .top a {
        font-family: "PT Sans" !important;
    }
    .top ul {
        font-size: 18px;
    }
    .logo a {
        font-family: "Cyntho Pro" !important;
    }

    .plan_selector label, .users_online label {
        font-family: "PT Sans" !important;
        font-size: 1.1em;
    }

    .droplist a {
        font-family: "Fira Sans" !important;
        font-size: 0.8em;
    }
}