/*html { overflow-x: hidden; }*/

body {
    margin: 0 auto;
    background: rgba(244, 243, 248, 1);
    min-width: 400px;
}

.logo a {
    color: black;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: none;
    border: none;
}

button:hover {
    outline: none;
}

button:focus {
    outline: none;
}




