body {
    margin: 0 auto;
    background: rgba(244, 243, 248, 1);
    /*background: white;*/
    min-width: 400px;

    font-family: Arial, SegoeUIRegular;
}

.logo a {
    font-family: SegoeUIRegular !important;
    /*font-weight: 300 !important;*/
    color: black;
}

ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-family: Arial, SegoeUIRegular;
    color: black;
}

button {
    background: none;
    border: none;
}

button:hover {
    outline: none;
}

button:focus {
    outline: none;
}




