@import "mixins"
// основной контент страницы
$background_body: rgba(244, 243, 248, 1)
$max-width-page: 1200px
$min-width-page: 600px
$width-left-content: 180px
$width-right-content: calc(100% - 188px)

$profile-left-content: $width-right-content
$profile-ava-content: $width-left-content

// оформление блоков сайта
$gl_block_border: 1px solid rgba(230, 230, 230, 1)
$gl_block_padding: 10px
$gl_border_radius: 4px

