ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    transition: .2s linear;
}

button {
    background: none;
    border: none;
}

button:hover {
    outline: none;
}

button:focus {
    outline: none;
}

.top-block {
    border-bottom: 3px solid #8b1deb;
    /*border-bottom: 3px solid royalblu*/
    background-color: rgba(242, 242, 242, 1);
    min-width: 768px;

}

.top {
    display: block;
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
}

.top-line {
    box-shadow: inset 0px -45px 30px -50px rgba(0, 0, 0, 0.4);
    height: 10px;
}

.top-menu {
    height: 38px;

}

.top-menu ul {
    padding: 0;
    height: 100%;
    float: left;
}

.top-menu li {
    float: left;

}

.top-menu ul li a {
    padding-top: 3px;
    display: table-cell;
    height: 35px;
    vertical-align: middle;
    font-size: 0.9em;
    text-align: center;
    color: black;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.logo {
    float: left;
    width: 184px;
    padding-left: 17px;
    font-size: 24px;

}
.logo a{
    display: table-cell;
    height: 38px;
    vertical-align: middle;
}

.top-menu ul li a:hover {
    background: white;
    color: dodgerblue;
    transition: 0.3s ease;
}

.top-menu ul li a:active {
    background: rgba(242, 242, 242, 1);
    transition: none;
    transition: 0.3s ease;
}

.droplist {
    z-index: 100;
    background-color: rgba(240, 240, 240, 1);
    float: right;
    max-width: 200px;
    margin-right: 16px;
    cursor: pointer;

}


.droplist a {
    padding: 0 15px 0 10px;
    display: table-cell;
    height: 36px;
    padding-top: 2px;
    vertical-align: middle;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#profile_title {
    float: right;
}

#user_ava_thumbnail_content {
    /*float: right;*/
    display: table-cell;
    vertical-align: middle;
    height: 38px;
}

#user_ava_thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#arrow_down_content {
    height: 38px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;

}

#arrow_down {
    margin: 5px 8px 0 0;
    border: 6px solid transparent;
    border-top: 7px solid rgba(150, 150, 150, 1);
}

/*#jQuery ###########################################################*/
/*#jQuery ###########################################################*/
/*#jQuery ###########################################################*/
.droplist_click {
    background: white;
    font-size: 0.9em;
    border-radius: 4px;
    position: absolute;
    border: 1px solid rgba(210, 210, 210, 1);
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 1;
    margin-top: -10px;

}

.droplist_click_container{
    cursor: default;
    display: inline;
    /*background: red;*/
    margin-top: 10px;
}

.droplist_click {
    position: relative;
}


.droplist_click ul li a{
    display: block;
    /*background: blue;*/
    width: 100%;
    padding: 0 10px 0 10px;
}
.droplist_click ul li {
    width: 110px;
    line-height: 35px;
    overflow: hidden;
    border-bottom: 1px solid rgba(230,230,230,1);
}

.droplist_click ul li:first-child {
    height: 4px;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
    border-bottom: none;
}

.droplist_click ul li:last-child {
    height: 3px;
    background: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: default;
    border-bottom: none;
}
.droplist_click ul li:nth-child(4){
    border-bottom: none;
}

.droplist_click ul li:first-child:hover, .droplist_click ul li:last-child:hover {
    background: white;
}

.droplist_click ul li:first-child:active, .droplist_click ul li:last-child:active {
    background: white;
}

.droplist_click ul li:hover {
    background: rgba(230, 230, 230, 1);
}

.droplist_click ul li:active {
    background: rgba(220, 220, 220, 1);
}


.triangle {
    display: inline-table;
    position: relative;
    width: 0;
    height: 0;
    bottom: 5px;
    right: -79px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid rgba(220, 220, 220, 1);
    z-index: 3;
}
.triangle_bottom{
    display: inline-table;
    position: relative;
    width: 0;
    height: 0;
    bottom: 4px;
    right: -63px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
    z-index: 3;
}

/*.droplist_click ul:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 111px;*/
    /*right: 89px;*/
    /*border: 8px solid transparent;*/
    /*border-bottom: 9px solid white;*/
    /*z-index: 12;*/
    /*cursor: default;*/
/*}*/

/*.droplist_click ul:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 112px;*/
    /*right: 89px;*/
    /*border: 8px solid transparent;*/
    /*cursor: default;*/
    /*border-bottom: 8px solid rgba(180, 180, 180 , 1);*/
    /*z-index: -10;*/
    /*filter: blur(2px); !* Someday, sigh ... *!*/
    /*-webkit-filter: blur(2px); !* Prefixed CSS3 blur filters *!*/
    /*-moz-filter: blur(2px);*/
    /*-o-filter: blur(2px);*/
    /*-ms-filter: blur(2px);*/
    /*filter: url(#blur); !* Firefox needs SVG *!*/
    /*filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2'); !* IE lte 9 *!*/
/*}*/

/*#jQuery ###########################################################*/
/*#jQuery ###########################################################*/
/*#jQuery ###########################################################*/