/* ==================================================
Стандартные стили */

body {
    margin: 0 auto;
    background-color: white;
}

ul {
    list-style: none;
    /*убираем маркеры списка*/
    margin: 0;
    /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0;
    /*убираем левый отступ, равный 40px*/
}

a {
    text-decoration: none;
    /*убираем подчеркивание текста ссылок*/
}


/* ================================================== */


/*@import url(https://fonts.googleapis.com/css?family=Lora);*/

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Arial', serif;
    transition: .2s linear;
}

button {
    background: none;
    border: none;
}

button:hover {
    outline: none;
}

button:focus {
    outline: none;
}

.page {
    background-color: rgba(255, 255, 255, 1);
}

.page .top {
	background-color: rgba(242, 242, 242, 1);
    /* border-bottom: solid 1px rgba(200, 200, 200, 1); */
/*    border-bottom: solid 3px #3EBB3E;*/
/*	border-bottom: solid 3px #8b1deb;*/
}

.flex-container {
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-family: 'Consolas', serif;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-logo {
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-avatar {
	
}

.flex-profile {
	
    color: black;
    font-size: 0.5em;
    margin-right: 15px;
}

.menu ul {
    display: flex;
    background: rgba(250, 250, 250, 1);
    padding-left: 0;
    white-space: nowrap;
}

.menu a {
    text-align: center;
    color: black;
    padding: 1.4em;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
}

.menu li {
    box-shadow: inset 15px 0px 36px -19px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
	border-top: 3px solid #8b1deb;
}

.menu a:hover {
    padding-right: 100px;
    padding-left: 100px;
    box-shadow: none;
    background: white;
    transition: 0.3s ease;
}

.menu a:active {
    background: rgba(242, 242, 242, 1);
    transition: none;
    transition: 0.3s ease;
}

.menu {
    display: block;
    width: 100%;
    margin: 0 auto 30px;
}

.logo {
    margin-top: 100px;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
    font-family: consolas;
    /* background: black; */
    color: black;
}

.content {
    margin: auto;
    /* border: 1px solid gray; */
	border: 1px solid #dbdbdb;
	border-radius: 4px;
    width: 1200px;
	height: 60%;
}

.content-top {
    width: 100%;
    height: 160px;
/*
    display: flex;
    flex-direction: row;
*/
    align-items: center;
	border-bottom: 1px solid #dbdbdb;
}

.avatar-block {
	margin-left: 10px;
	margin-top: 10px;
    overflow: hidden;
    width: 150px;
	height: 150px;
	border: 1px solid #dbdbdb;
	border-radius: 4px;
}

.avatar {
	background-image: url('images/putin.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 4xp;
    padding: 10px;
    width: 110%;
    height: 110%;
}


.days-container ul {
    width: 100%;
    font-size: 2em;
    display: flex;
    transition: 0.2s ease;
}

.days-container ul:hover {
    transition: 0.2s ease;
    background: rgba(247, 255, 102, 1);
}

.days-container li {
    text-align: center;
    padding: 20px;
}

.name-day {
    border-right: 3px solid white;
    width: 30%;
}

.subject {
    width: 40%;
    padding-left: 40px;
    border-right: 3px solid white;
}

.time {
    width: 30%;
    padding-right: 40px;
}

.title_main {
    margin-top: 70px;
    background: rgba(240, 240, 240, 1);
}

.title_monday {
    background: rgba(0, 200, 120, 1)
}

.title_tuesday {
    background: rgba(238, 109, 109, 1);
}

.title_wednesday {
    background: rgba(87, 134, 255, 1);
}

/*============> Мой Вариант <============*/

table {
	margin: auto;
	margin-top: 10px;
    font-family: arial, sans-serif;
	border: 1px solid #dddddd;
	border-radius: 4px;
/*    border-collapse: collapse;*/
    width: 99%;
}

.tableTop, th {
	padding: 8px;
	text-align: left;
	background: #0da059;
	height: 35px;
}

td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

.weekday {
	
}

/*============> Мой Вариант <============*/

.footer {
    width: 100%;
    margin-top: 200px;
    border-top: solid 3px #3EBB3E;
    background: rgba(242, 242, 242, 1);
    font-family: Consolas, Arial;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}
