body {
    overflow-y: scroll;
    min-width: 600px;

}

.page {
    clear: both;
}

.content {
    margin: auto;
    /*display: flex;*/
    background: rgba(244, 243, 248, 1);
    width: 100%;
    max-width: 1200px;
    padding: 0 8px 0 8px;
}

.content, .left_content, .right_content {
    margin-top: 10px;
}

.left_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    float: left;
    margin-right:8px;
    /*background: indianred;*/
}

.right_content {
    float: left;
    /*отнимаем с учётом отступов*/

    width: calc(100% - 188px);
}

@media (max-width: 767px) {
    .right_content {
        width: 100%;
    }
}
.ava_content {
    height: 180px;
    width: 180px;
    background: center no-repeat;
    background-size: cover;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid rgba(230, 230, 230, 1);

}

.ava_cover {
    position: absolute;
    background-color: #ffffff;
    opacity: 0;
    transition: 0.3s;
}

.ava_cover:hover {
    opacity: 0.8;
}

.ava_cover_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ava_cover, .ava_cover_text {
    width: 180px;
    height: 180px;
    border-radius: 4px;
}


.ava_content, .ava_cover, .ava_cover_text, :hover {
    cursor: default;
}

.ava_cover_text p:hover {
    cursor: pointer;
    color: #8b1deb;
}

.plan_selector, .users_online {
    width: calc(100% - 20px);
    border-radius: 4px;
    overflow: hidden;
}

.plan_selector ul li {
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 4px;
}

.plan_selector ul li {
    margin-top: 5px;
    overflow: hidden;
}

.plan_selector ul li a {
    display: block;
    padding: 10px 0px 10px 10px;
    line-height: 20px;
    width: 100%;
    cursor: pointer;
}

.plan_selector ul li p {
    display: none;
}

.users_online ul li:first-child {
    margin-top: 0px;
}

.users_online ul li {
    font-weight: normal;
    margin-top: 10px;
}

.user_name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    height: 30px;
}

#plan_selector_title {
    display: block;
    margin: 10px 0px 15px 10px;
}

#users_online_title {
    margin: 10px 0px 15px 10px;
}

.user_image {
    margin-left: 10px;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background: center no-repeat;
    background-size: cover;
}

.plan_window:first-child {
    margin-top: 0;
}

.plan_window {
    background: white;
    border: 1px solid rgba(230, 230, 230, 1);
    border-radius: 4px;
    padding-bottom: 10px;
}

.title_content {
    border-radius: 4px;
    background: white;
    padding: 10px 0 10px 0;
    text-align: center;
    border: 1px solid rgba(230, 230, 230, 1);
}


#plan_title{
   font-size: 2em;
}

#count_title {
    padding-top: 5px;
    font-size: 1em;
    color: gray;
}

.plan_content {
    margin-top: 10px;
}

.plan_content:last-child {
    margin-bottom: 300px;
}

.content_day_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    /*background: green;*/
    width: calc(100% - 40px);

    margin: auto;
    border-bottom: 1px solid rgba(210, 210, 210, 1);
}

/*дата*/
.content_day_title a {
    display: none;
}

.day_title {
    /*padding: 0px 0 5px 0;*/
}

.day_data {
    padding: 0 0 10px 0;
}

.day_plan_content {
    margin: auto;
    width: calc(100% - 20px);
}

.str_plan:nth-child(2) {
    /*margin: 0px 0 0 0;*/
}

.str_plan {
    display: flex;
    flex-direction: row; /*Пункты внутри контейнера будут располагаться горизонтально*/
    align-items: stretch; /*Пункты внутри контейнер будут принимать всю его высоту*/
    /*расстояние между строчками*/
    margin-top: 3px;
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 4px;
    background: white;
}


.str_plan, .plan_selector:hover {
    cursor: default;
}

.str_plan ul {
    display: flex;
    min-height: 32px;
    text-align: center;
    border: 2px solid rgba(3, 96, 255, 0.0);
    border-radius: 4px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.str_plan ul li:first-child {
    width: 20%;
    padding-left: 0;
}

.str_plan ul li:last-child {
    width: 20%;
    padding-right: 0;
    border-right: none;
}



/*отвечает за корректный перенос слов и букв в словах*/
.str_plan ul li a, .str_plan ul li textarea {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;

}

/*скрытый блок для формирования высоты */
.comment_text_hidden{
    visibility:hidden;
    position: absolute;
    display: block;
    background: red;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
}

.str_plan ul li {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-right: 1px solid rgba(230, 230, 230, 1);


}

.str_plan ul li a, .str_plan ul li textarea, .str_plan ul li input{
    border-radius: 4px;
    width: 100%;
    min-height: 32px;
    text-align: center;
    border: 2px solid rgba(100, 149, 237, 0.0);
    transition: 0.1s all;
    cursor: default;
    background: none;
    outline: none;
    -moz-appearance: none;
    overflow-y: hidden;
    resize: none;
}
.str_plan ul li textarea{
    height: 32px;
}

.str_plan ul li button{
    cursor: pointer;
}

/*убрать крестик очистки*/
.str_plan ul li textarea::-ms-clear {
    display: none;
}

.str_plan ul li textarea:focus {
    border: none;
    outline: none;
    cursor: auto;
    /*padding-top: 4px;*/
    border: 2px solid rgba(139, 29, 235, 0.4);
}


textarea::-webkit-input-placeholder {
     padding-top: 1px;
    color: #b9b9b9;
    text-align: center;

}

textarea:-moz-placeholder {
    padding-top: 1px;
    color: #b9b9b9;
    color: red;
    text-align: center;
}


.str_title:first-child li {
    border-right: 1px solid rgba(91, 178, 102, 0.4);
}

.str_title {
    background: rgba(103, 198, 97, 0.9);
    border-radius: 4px;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    min-height: 30px;
}

