/*работа шрифта для Mozilla Firefox*/
@-moz-document url-prefix() {
    a, table {
        font-family: "SegoeUIRegular" !important;
        font-weight: 300 !important;
    }
    .logo a {
        font-family: "Consolas" !important;
        /*font-weight: 300 !important;*/
    }
    .username a {
        font-family: "Arial" !important;
    }
}

.page {
    clear: both;
}

.content {
    margin: auto;
    background: rgba(244, 243, 248, 1);
    height: 1000px;
    width: 100%;
    max-width: 1200px;
    min-width: 768px;
}

.content, .left_content, .right_content {
    height: 1000px;
    margin-top: 10px;
}

.left_content {
    font-size: 0.9em;
    font-weight: bold;
    /*padding-top: 10px;*/
    width: 200px;
    float: left;
    background: rgba(244, 243, 248, 1);
    /*background: white;*/
}

.right_content {
    margin-left: 0px;
    float: left;
    width: calc(100% - 200px);
    background: rgba(244, 243, 248, 1);

}

.ava_content {
    height: 170px;
    width: 170px;
    background: blue;
    margin: 0px 0px 0px 15px;
    background-image: url("../images/putin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
}

.plan_selector, .users_online {
    width: 170px;
    margin: 15px 0px 0px 15px;
    border-radius: 4px;
    overflow: hidden;
}

.plan_selector ul li {
    font-weight: normal;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 4px;
}

.plan_selector ul li:first-child {
    margin-top: 0px;
}

.plan_selector ul li {
    margin-top: 5px;
}

.plan_selector ul li a {
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    width: 100%;
}

.users_online ul li:first-child {
    margin-top: 0px;
}

.users_online ul li {
    font-weight: normal;
    margin-top: 10px;
    height: 30px;
    width: 100%;
}

.user_name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    height: 30px;
}

label {
    display: block;
    margin: 10px 0px 15px 10px;
}

#users_online_title {
    padding-top: 10px;
    border-top: 1px solid rgba(210, 210, 210, 1);
}

.users_online ul li:first-child {
    margin-top: 15px;
}

.users_online ul li:last-child {
    margin-bottom: 10px;
}

.user_image {
    margin-left: 10px;
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background-image: url("../images/putin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title_content {
    border-radius: 4px;
    background: white;
    padding: 10px 10px 10px 0;
    margin-right: 10px;
    font-size: 1.5em;
    /*background: gray;*/
    text-align: center;
    border: 1px solid rgba(230, 230, 230, 1);
    /*border-bottom: 1px solid rgba(220,220,220,1);*/
}

#count_title {
    margin-top: 5px;
    font-size: 0.6em;
    color: gray;
}

.plan_content {
    border-radius: 4px;
    height: 500px;
    margin: 10px 10px 0 0;
    background: white;
    border: 1px solid rgba(230, 230, 230, 1);
}