@import mixins
@import global_vars

html, body
  height: 100%
  margin: 0 auto

%panels_styles
  margin: auto
  display: block
  background: rgba(255, 255, 255, 0.8)
  border: $gl_block_border
  padding: $gl_block_padding
  margin:
    bottom: 50px
  @include border-radius(4px)
  input.reg_field, #inputPassword_re
    transition: 0.3s background ease
    @include border-radius(4px)
    margin:
      top: 5px
      bottom: 20px
    &[type='button'], &[type='submit'], &[type='button']:active, &[type='submit']:active
      outline: none
      @include box-shadow(none)

#inputPassword
  margin-bottom: 0

.panel_reg
  .reg_input_content.first
    margin-top: 5px
  .reg_footer
    margin-top: 20px
  @extend %panels_styles
  min-width: 400px
  max-width: 600px
  text-align: left

  .reg_btn_content
    input
      width: 200px

.panel_auth
  .row
    margin: 0
    padding: 0
  width: 600px
  @extend %panels_styles
  .auth_btn_content
    margin:
      top: 15px
    input
      width: 150px
  .auth_footer
    margin-top: 10px
  .auth_input_content
    &.first
      margin:
        top: 10px
        bottom: 10px
    &.second
      margin-bottom: 10px

.success_input_validate
  background-color: rgb(250, 255, 189)

.error_input_validate
  background-color: #f2dede

.popover
  width: 300px

.row
  margin-left: 10px

@media (max-width: 768px)
  .row
    margin: 0
    padding: 0
  .panel_reg
    min-width: 300px
    width: auto
    .reg_btn_content
      input
        width: 150px
  .panel_auth
    width: auto
    .auth_btn_content
      input
        width: 120px

  .popover
    width: 120px
    font-size: 0.7em
    .popover-content
      @include word-break-full()
      padding: 5px
    .popover-title
      padding: 5px
        bottom: 0


@media (max-width: 768px) and (orientation: landscape)
  .panel_auth
    width: 400px

