body {
    overflow-y: scroll;
    min-width: 600px;
}

.day_title {
    padding: 5px 0 10px 0;
}

.day_title_container {
    text-align: center;
    width: 30%;
}

.str_plan ul li {
    width: 30%;
}

.str_plan ul li:nth-child(1), .str_plan ul li:nth-child(2), .str_plan ul li:nth-child(5), .str_plan ul li:nth-child(6) {
    width: 15%;
}

.str_plan ul li a, .str_plan ul li input {
    text-align: center;
}

.plus_button_form {
    margin: auto;
    width: 25px;
    height: 25px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    border-radius: 100%;
    -ms-border-radius: 100%;
    transition: 0.3s;
    padding: 0 0 0 0;
}

.plus_button_form:hover .plus_button {
    opacity: 1;
}

.plus_button_form:active .plus_button {
    opacity: 0.7;
}

.plus_button {
    transition: 0.1s;
    height: 100%;
    background: url("../images/plus_1.png") center no-repeat;
    background-size: cover;
    opacity: 0.5;
    cursor: pointer;
}

.str_plan.str_plus {
    cursor: default;
    background: rgba(255, 255, 255, 0);
    padding: 0 0 5px 0;
    margin-top: 10px;
}

.str_plan .change:nth-child(2) {
    margin-top: 5px;
}

.checkbox_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    float: left;
    width: 40px;
    padding-left: 2px;
    cursor: pointer;
}

.checkbox_container {
    display: flex;
    width: 23px;
    height: 23px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -ms-border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #67c661;
    cursor: pointer;
}

.content_day_title {
    flex-direction: row;
}

.str_title {
    cursor: default;
}

.str_title .checkbox_container {
    border: 2px solid white;
}

.str_title .checkbox_wrap {
    border-right: 1px solid rgba(91, 178, 102, 0.4);
}

.tools_panel ul {
    height: 30px;
}

.tools_panel ul li {
    display: inline-flex;
    height: 100%;
    width: 80px;
}

.tools_panel ul li button {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.2);
    font-weight: 700;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -ms-border-radius: 3px;
}

.tools_panel.left {
    min-width: 170px;
    width: 35%;
}

.tools_panel.left ul li:first-child {
    margin-right: 2px;
}

.tools_panel.right {
    text-align: right;
    width: 35%;
    float: right;
}

.tools_panel.right ul li {
    width: 70px;
}

.share_button .first_layer, .share_button .second_layer {
    position: absolute;
    width: 70px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -ms-border-radius: 3px;
}

.share_button {
    display: inline;
    position: relative;
}

.share_button .first_layer {
    padding: 3px 0 3px 0;
    background: #9dc8eb;
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    transition: 0.1s ease;
    user-select: none;
}

.share_button .first_layer:hover {
    cursor: pointer;
}

.share_button .first_layer:active {
    margin-top: 2px;
}

.share_button .second_layer {
    height: 30px;
    background: #7598ba;
    color: rgba(0, 0, 0, 0.2);
}

#btn-Convert-Html2Image {
    width: 100px;
    height: 1000px;
    background: #eb6b66;
}

.KLOSS {
    position: absolute;
    width: 1000px;
    height: auto;
    margin: auto;
    opacity: 0;
}

.drop_list {
    display: none;
    position: absolute;
    max-height: 150px;
    background: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    -khtml-box-shadow: 0px 10px 20px -4px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    border: 2px solid rgba(139, 29, 235, 0.5);
}

.drop_list ul li {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.drop_list ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    background: white;
    border-bottom: 1px solid #e7e6eb;
    text-align: center;
    padding: 0 5px 0 5px;
    max-height: 25px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.drop_list ul li a:hover {
    cursor: pointer;
    background: #f0f0f5;
}

.plan_load_progres {
    width: 100%;
}

.plan_load_progres_indicator {
    display: none;
    width: 60px;
    height: 60px;
    margin: auto;
    background: url("../images/progress_indicator.gif") no-repeat center;
    background-size: contain;
}

/*# sourceMappingURL=plan_styles_new.css.map */
