<div class="in_modal_fade" style="display: none" {% block modal_id %}{% endblock %}{% block modal_type %}{% endblock %}>
    <div class="in_modal_body">
        <div class="in_modal_header">
            {% block modal_title %}
            {% endblock %}
            <div class="close"></div>
        </div>
        <div class="split-line"></div>
        <div class="in_modal_content">
            {% block modal_content %}
            {% endblock %}
        </div>
        <div class="split-line"></div>
        <div class="in_modal_bottom">
            {% block modal_bottom %}

            {% endblock %}
            <p class="in_stage_content">
            </p>
        </div>
    </div>
</div>

