<div class="in_modal_fade" style="display: none" {% block modal_type %}{% endblock %}>
    <div class="in_modal_body">
        {% block modal_title %}
        {% endblock %}
        <div class="split-line"></div>
        <div class="in_modal_content">
            {% block modal_content %}
            {% endblock %}
        </div>
        <div class="split-line"></div>
        <div class="in_modal_bottom">
            {% block modal_bottom %}
            {% endblock %}
        </div>
    </div>
    <div class="in_stage_content">
    </div>
</div>

