<div class="modal_slider_outer" {% block modal_slider_id %}id="modal_ava"{% endblock %}>
    <div class="modal_slider_header">
        {% block modal_slider_header %}
        {% endblock %}

        <div class="close"></div>
    </div>

    <div class="modal_slider_body">
        {% block modal_slider_body %}
        {% endblock %}

    </div>

    <div class="modal_slider_footer">
        {% block modal_slider_footer %}
        {% endblock %}
    </div>


</div>
{#<div class="modal_blur">#}
{#</div>#}