<div class="in_modal_fade" style="display: none" modal_type="old_pass">
    <div class="in_modal_body">
        <div class="in_modal_title">Change your password</div>
        <div class="split-line"></div>
        <div class="in_modal_content">
            <input id="pass" type="password" placeholder="Input your old password">
            <input id="okay" class="btn btn-lg btn-success" type="button" value="Okay">
        </div>
        <div class="split-line"></div>
        <div class="in_stage_content">
        </div>
    </div>
</div>

