{% extends "modal_frames/base_intodayer_modal.html" %}
{% load staticfiles %}

{% block modal_id %}
    id=modal_password_new_confirm
{% endblock %}
{% block modal_type %}
    pass_modal
{% endblock %}

{% block modal_title %}
    <div class="in_modal_title">Confirm new password</div>
{% endblock %}

{% block modal_content %}
    <input id="pass" type="password" placeholder="Repeat new password">
    <button id="okay" class="enter btn btn-sm btn-primary" type="button" style="background:black">Change</button>
{% endblock %}


