{% extends "modal_frames/base_intodayer_modal.html" %}
{% load staticfiles %}

{% block modal_type %}
    modal_type="elder_leave"
{% endblock %}

{% block modal_title %}
    <div class="in_modal_title">Delete plan and leave forever!</div>
{% endblock %}

{% block modal_content %}
    <p><b>Внимание! Вы создатель данного расписания!</b></p>
    <p>Если вы покинете расписание, то оно будет удалёно навсегда! А все участники будут исключены из него.</p>
    <p>Вся внесённая в расписание информация будет удалена для всех.</p>
    <p>Не выходите из расписания, если им, возможно, пользуются другие участники.</p>
    <p>Данного действите невозможно отменить. Вы уверены?</p>
{% endblock %}

{% block modal_bottom %}
    <div id=btn_ok class="btn btn-danger btn-sm">Да</div>
    <div id=btn_no class="btn btn-success btn-sm">Нет</div>
{% endblock %}

{#<style>#}
{#    .in_modal_content{#}
{#        flex-direction: column;#}
{#    }#}
{#</style>#}