{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/account.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/components/intodayer_modal.css" %}>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_account.js" %}></script>
    <script type="text/javascript" src={% static "scripts/components/script_intodayer_modal.js" %}></script>
{% endblock %}


{% block content_page %}
    <div class="pr_page">
        <div class="pr_top_content">
            <div class="pr_title_content">
                <input class="col-lg-3 col-md-4 col-sm-5 col-xs-6" id="pr_login" type="text" value="Alexey">
                <input class="col-lg-6 col-md-7 col-md-8 col-xs-9" id="pr_username" type="text"
                       value="Алексей Кротков">

                <span>Кол-во расписаний: 17</span>
            </div>
            <div class="pr_ava_content">
                <div class="pr_ava_img"
                     style="background-image: url({% static  "DSC00598.psd_Comp_1111_00000.jpg" %})"></div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="pr_content row">
                {#                <div class="pr_main_content row">#}

                <div class="pr_mail  col-lg-4 col-md-4 col-sm-4 col-xs-7">
                    <label for="pr_email">Почта</label><br>

                    <input class="form-control" id="pr_email" type="email" placeholder="Почтовый ящик"
                           value="alexeykrotkov@yahoo.com">
                    <label class="comment">Для входа на сайт и рассылки</label>
                </div>


                {#                <div class="visible-xs col-xs-12" style="margin-top: 10px; margin-bottom: 10px"></div>#}

                <div class="pr_share_block  col-lg-3 col-lg-offset-1 col-md-offset-1  col-md-3 col-sm-4 col-xs-5">
                    <label>Мгновенная рассылка</label><br>

                    <input id="pr_send_telegram" type="checkbox" checked="checked">
                    <label class="share"
                           for="pr_send_telegram">Telegram

                        Bot</label><br>

                    <input id="pr_send_email" type="checkbox">
                    <label class="share" for="pr_send_email">
                        Почта
                        email</label>
                </div>

                {#                <div class="visible-xs col-xs-12" style="margin-top: 10px; margin-bottom: 10px"></div>#}

                <div class="pr_pass_block  col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Пароль профиля</label><br>
                    <div class="change_pass_btn">
                        <button class="pr_pass_btn btn btn-default btn-lg col-lg-10 col-md-10 col-sm-12 col-xs-6">
                            Изменить пароль
                        </button>
                    </div>
                </div>

                <div class="visible-xs col-xs-12" style="padding-top: 5px; padding-bottom: 5px"></div>

                <div class="split-line col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

                <div class="row">
                    <div class="settings_btns_content text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="button" id="cancel" class="btn-back btn btn-lg btn-primary" value="Отменить">
                        <input type="button" id="save" class="btn-okay btn btn-lg btn-success" value="Сохранить">
                    </div>
                </div>
            </div>

            <div class="pr_content row">
                <div class="pr_content_title">
                    <span>Мои расписания</span>
                    <ul>
                        <li>
                            <button type="button" id="pr_all" class="btn btn-sm btn-default btn-danger ">Все</button>
                        </li>
                        <li>
                            <button type="button" id="pr_participant" class="btn btn-sm btn-default">Я участник</button>
                        </li>
                        <li>
                            <button type="button" id="pr_elder" class="btn btn-sm btn-default">Я староста</button>
                        </li>
                        <li>
                            <button type="button" id="pr_admin" class="btn btn-sm btn-default">Я админ</button>
                        </li>
                        <li>
                            <button type="button" id="pr_invited" class="btn btn-sm btn-default">Я приглашён</button>
                        </li>
                    </ul>
                </div>

                <div class="pr_captain_plans ">
                    <div class="pr_plans_content" plan_role="pr_elder">

                        <div style="position: relative">
                            <div class="pr_color_type color_elder"></div>
                            <div class="pr_img_title">Расписание 0</div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>

                    <div class="pr_plans_content" plan_role="pr_elder">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 1</div>
                            <div class="pr_color_type color_elder"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                    <div class="pr_plans_content" plan_role="pr_admin">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 2</div>
                            <div class="pr_color_type color_admin"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                    <div class="pr_plans_content" plan_role="pr_participant">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 3</div>
                            <div class="pr_color_type color_participant"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                    <div class="pr_plans_content" plan_role="pr_admin">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 4</div>
                            <div class="pr_color_type color_admin"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                    <div class="pr_plans_content" plan_role="pr_participant">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 5</div>
                            <div class="pr_color_type color_participant"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                    <div class="pr_plans_content" plan_role="pr_participant">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 6</div>
                            <div class="pr_color_type color_participant"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                    <div class="pr_plans_content" plan_role="pr_invited">
                        <div style="position: relative">
                            <div class="pr_img_title">Расписание 7</div>
                            <div class="pr_color_type color_invited"></div>
                            <img src="{% static "DSC00598.psd_Comp_1111_00000.jpg" %}" alt="..."
                                 class="img-rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block others %}
    {% include "modal_frames/intodayer_modal.html" %}
{% endblock %}