{% extends "home.html" %}

{% load staticfiles %}

{% block title %}Add Schedules{% endblock %}

<!--Добавляем новые стили-->
{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/add_schedules.css.css"%}>
{%  endblock %}

{% block content %}
    <div class="content">
        <ul class="menu">
            <li><a href=#>Menu 1</a>
                <ul class="submenu">
                    <li><a href=#>Sudmenu 1</a></li>
                    <li><a href=#>Sudmenu 1</a></li>
                    <li><a href=#>Sudmenu 1</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <form action="" method="post" id="add_form">
    <ul>
        <!--новые изменения-->
        <li>
            <select id="day_of_week" name="dayofweek" form="add_form">
                <option value='Понедельник'>Понедельник</option>
                <option value='Вторник'>Вторник</option>
                <option value='Среда'>Среда</option>
                <option value='Четверг'>Четверг</option>
                <option value='Пятница'>Пятница</option>
                <option value='Суббота'>Суббота</option>
                <option value='Воскресенье'>Воскресенье</option>
            </select>
        </li>
        <input type="submit">
    </ul>
</form>
{% endblock %}
