{% load staticfiles %}
<html>
<head>
    <title>Three pachans Web Site</title>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
<!--
    <link rel="stylesheet" type="text/css" href="../test/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="../test/style/general_style.css">
    <link rel="stylesheet" type="text/css" href="../test/style/welcome-auth-reg_style.css">
    <script type="text/javascript" src="../test/library/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../test/library/jquery.animate-colors.js"></script>
-->
    <link rel="stylesheet" type="text/css" href={% static "css/fonts.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "css/general_style.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "css/welcome-auth-reg_style.css"%}>
    <script type="text/javascript" src={% static "library/jquery-3.1.1.js"%}></script>
    <script type="text/javascript" src={% static "library/jquery.animate-colors.js"%}></script>

</head>
<body>
<div class="top-block">
    <div class="top">
        <div class="logo"><a href="/">IntoDayer</a></div>
        <div id="sing_up-top"><a href="/registration">Sign up</a></div>
        <div id="login-top"><a href="/login">Log In</a></div>
    </div>
</div>

</body>

<div class="page">
    <!--панель авторазации-->
    <div class="auth">
        <form action="" method="post">
            <ul>
                <div class="title-sign">Sign In to Intodayer</div>
                <li id="name">
                    <input type="text" placeholder="Login" name='username'>
                </li>
                <li id="password">
                    <input type="password" placeholder="Password" name='password'>
                </li>
                <ul class="buttons-panel">
                    <button class="back" type="button"><a href="/">Назад</a></button>
                    <button id="submit-auth" type="submit">Войти</button>
                </ul>
                <div class="forgot"><a href="#">Не можете войти?</a></div>
            </ul>
        </form>
    </div>

    <h3>Всё самое важное о Вашем расписании и ничего больше.</h3>

</div>
<!--
<script type="text/javascript" src="../test/scripts/set-screen-size.js"></script>
<script type="text/javascript" src="../test/scripts/script_auth.js"></script>
-->
<script type="text/javascript" src={%static "scripts/set-screen-size.js"%}></script>
<script type="text/javascript" src={%static "scripts/script_auth.js"%}></script>

</html>
