{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Auth</title>
    <link rel="stylesheet" type="text/css" href='../static/css/pachanz_style.css'>
</head>
<body>
   <center>
    <div class="TP">
        <b>ThreePachan</b>
    </div>
    <div class="Z">
        <b>Z</b>
    </div>
        <div class="form">
            <!--<h1 id="title">Please log in</h1>-->
            <div class="auth">
                <form action="/login/" method="POST">
                    <div class="fields">
                        <input type="text" name="username" placeholder="Username"><br/>
                        <input type="password" name="password" placeholder="Password"><br/>
                    </div>
                    <input class="enter" type="submit" value="Enter">
                    <a href="/registration">Registration</a>
                </form>
            </div>
        </div>
    </center>
</body>
</html>