{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Three pachans Web Site</title>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
<!--
    <link rel="stylesheet" type="text/css" href="style/home_content.css">
    <link rel="stylesheet" type="text/css" href="style/home_top.css">
    <link rel="stylesheet" type="text/css" href="style/fonts.css">
    <script type="text/javascript" src="library/jquery-3.1.1.js"></script>
-->
    <link rel="stylesheet" type="text/css" href={% static "css/home_content.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "css/home_top.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "css/fonts.css"%}>
    <script type="text/javascript" src={% static "library/jquery-3.1.1.js" %}></script>
</head>

<body>
<div class="top-block">
    <div class="top">
        <div class="logo"><a href="/home">IntoDayer</a></div>
        <div class="droplink">
            <div class="username"><a href="#">{{ username }}</a></div>
            <div class="up-arrow"></div>
            <div class="mini-ava"></div>
            <div class="dropmenu">
                <ul>
                    <div class="devide-line"></div>
                    <li><a href="/profile_settings">My Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <div class="devide-line"></div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="top-menu">
    <ul id="menu">
        <!-- Не переименовывать классы и имена страниц! -->
        <li id="home"><a href="home.html">Сегодня</a></li>
        <li id="table"><a href="home.html">Расписание</a></li>
        <li id="events"><a href="home.html">События</a></li>
        <li id="group"><a href="home.html">Моя группа</a></li>
        <li id="about"><a href="home.html">О сервисе</a></li>
    </ul>
</div>

<div class="page">
    <div class="content">
        <div class="content-top">
            <div class="avatar-block">
                <div class="avatar"></div>
            </div>
            <div class="title-content">
                <h1>Копьютерная безопасность 2012</h1>
                <h2>Тыр-тыр: череда-черёд</h2>
            </div>
        </div>
        <ul class="week">
            <li class="days"><a href="home.html">Пн.</a></li>
            <li class="days"><a href="home.html">Вт.</a></li>
            <li class="days"><a href="home.html">Ср.</a></li>
            <li class="days"><a href="home.html">Чт.</a></li>
            <li class="days"><a href="home.html">Пт.</a></li>
            <li class="days"><a href="home.html">Сб.</a></li>
            <li class="days"><a href="home.html">Вс.</a></li>
            <li class="days"><a href="home.html">Неделя</a></li>
            <div class="week-name">Неделя 2 из 18 (08.12.16 - 15.12.16)</div>
        </ul>
        <!--Генерация рассписания для данного пользователя-->
        {% if table %}
            {% for day in table %}
                {% if day %}
                    <div class="table-container">
                        <table>
                            <tr class="tableTop">
                                <th>Время</th>
                                <th>Предмет</th>
                                <th>Аудитория</th>
                                <th>Преподаватель</th>
                            </tr>
                            {% for row in day %}
                                <tr>
                                    <td>{{ row.tms_tms }}</td>
                                    <td>{{ row.subj_subj.name }}</td>
                                    <td>{{ row.place }}</td>
                                    <td>{{ row.tchr_tchr.name_short }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

</div>
</body>
<!--<script type="text/javascript" src="scripts/script_home.js"></script>-->
<script type="text/javascript" src={% static "scripts/script_home.js"%}></script>
</html>
