{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}Three pachans Web Site
    {% endblock %}
    </title>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href={% static "css/general_style.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/home_content.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/home_top.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/fonts.css" %}>
    <script type="text/javascript" src={% static "library/jquery-3.1.1.js" %}></script>
    <!--Добавление в наследующие шаблоны новых стилей-->
    {% block styles %}{% endblock %}
    <!--Добавление в наследующие шаблоны новых скриптов-->
    {% block scripts_top %}{% endblock %}
</head>

<body>
<div class="top-block">
    <div class="top">
        <div class="logo"><a href="/home">IntoDayer</a></div>
        <div class="top-menu">
            <ul>
                <!-- Не переименовывать классы и имена страниц! -->
                <li id="home"><a href="home.html">Сегодня</a></li>
                <li id="table"><a href="home.html">Расписание</a></li>
                <li id="group"><a href="home.html">Участники</a></li>
            </ul>
                <div class="droplink">
                    <div style="float:right;">
                        <div id="ava_img_content">
                            <div id="ava_img"></div>
                        </div>
                    </div>
                    <div id="profile_title">
                        <a>Profile</a>
                    </div>

                </div>
        </div>

    </div>

</div>

{#<div class="top-line"></div>#}


<div class="page">
    <div class="content">
        {% block content %}
            <div class="left_content">
                <div class="ava_content">
                </div>
                <div class="plan_selector">
                    <label id="plan_selector_title">Мои расписания</label>
                    <ul>
                        <li><a href="#">Plan 1</a></li>
                        <li><a href="#">Plan 2</a></li>
                        <li><a href="#">Plan 3</a></li>
                    </ul>
                </div>
                <div class="users_online">
                    <label id="users_online_title">Online</label>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="user_image"></div>
                                <div class="user_name">User 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_image"></div>
                                <div class="user_name">User 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user_image"></div>
                                <div class="user_name">User 1</div>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="right_content">
                <div class="title_content">
                    <div id="plan_title">Тыр тыр: череда-черёд</div>
                    <div id="count_title">20 участников</div>
                </div>
                <div class="plan_content">

                </div>
            </div>

            </div>
        {% endblock %}


</div>

</body>
{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_home.js" %}></script>
{% endblock %}
</html>
