{% load staticfiles %}
<html>
<head>
    <title>Three pachans Web Site</title>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
    <link rel ="stylesheet" type="text/css" href={% static 'css/style1.css' %}>
</head>

<body>
        <h1>Электронное расписание для вузов v1.0</h1>

        <div class="fields">
            <div class="material-textfield name">
                <input type="text" name="username" required/>
                <label data-content="username">username</label>

            </div>
            <div class="material-textfield pass">
                <input type="password" name="username" required/>
                <label data-content="password">password</label>
            </div>
        </div>
</body>

</html>
