{% for inv in invitations %}
    <div class="invitation">
        <div class="message_wrap">
            <div class="message">
                Пользователь
                {{  inv.from_user.get_name.0 }}
                {{  inv.from_user.get_name.1.0 }}.
                хочет поделиться с Вами расписанием.
            </div>
            <div class="message_sep"></div>
            <div class="show_plan"><a href="\plan\invitation\{{ inv.plan_id }}">Посмотреть</a></div>
        </div>
        <div class="from_user_avatar" style="background-image: url({{ inv.from_user.image_url }})"></div>
    </div>
{% endfor %}