{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts_top %}
    <link rel="stylesheet" type="text/css" href={% static "css/welcome_base.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/login_reg.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/login.css" %}>
{% endblock %}

{% block header %}
    {% include 'templates_for_ajax/header_welcome.html' %}
{% endblock %}

{% block center_content_wide %}
{% endblock %}

{% block content_page %}
    <div class="welcome_background">
        <div class="welcome_background_fade">
        </div>
    </div>
    <div class="auth_page">
        <form action="" method="post">
            <div class="panel_auth" style="opacity:0;">

                <div class="row">
                    <div class="col-xs-8 col-lg-7">
                        <h3 for="inputFirstName">Вход</h3>
                    </div>
                </div>

                <div class=" split-line"></div>

                <div class="row">
                    <div class="auth_input_content first">
                        <input type="email" name='email' class="form-control input-lg"
                               id="inputEmail"
                               placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="auth_input_content second">
                        <input type="password" name='password' class="form-control input-lg"
                               id="inputPassword"
                               placeholder="Password">
                    </div>
                </div>

                <div class=" split-line"></div>

                <div class="row text-center auth_btn_content">

                    <input type="button"
                           id="buttonBack"
                           class="btn input-lg btn-default"
                           value="Назад">


                    <input type="submit" id="buttonEnter"
                           class="btn input-lg  btn-success"
                           value="Войти">
                </div>
                <div class="auth_footer row text-center">
                    <a href="/registration" id="buttonHelp" type="button"
                       class="btn btn-sm btn-lg btn-link text-center">
                        Ещё нет аккаунта?
                    </a>
                </div>

                {% if auth_error %}
                    <h5 class="text-center alert-danger btn-lg">
                        Неправильный логин или пароль. Попробуйте еще раз.
                    </h5>
                {% endif %}
            </div>
        </form>
    </div>

{% endblock %}

{% block other_content %}
    <div class="row fill-space-bottom">
        <div class="" style="height: 100px"></div>
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_login.js" %}></script>
    {#    <script type="text/javascript" src={% static "scripts/script_welcome.js" %}></script>#}
{% endblock %}













{#<div class="page">#}
{#    <!--панель авторазации-->#}
{#    <div class="auth">#}
{#        <form action="" >#}
{#            <ul>#}
{#                <div class="title-sign">Sign In to Intodayer</div>#}
{#                <li id="name">#}
{#                    <input type="text" placeholder="Login" name='username'>#}
{#                </li>#}
{#                <li id="password">#}
{#                    <input type="password" placeholder="Password" name='password'>#}
{#                </li>#}
{#                <ul class="buttons-panel">#}
{#                    <button class="back" type="button"><a href="/">Назад</a></button>#}
{#                    <button id="submit-auth" type="submit">Войти</button>#}
{#                </ul>#}
{#                <div class="forgot"><a href="#">Не можете войти?</a></div>#}
{#            </ul>#}
{#        </form>#}
{#    </div>#}
{##}
