 <div class="str_plan change" style="opacity: 0; display:none;">
        <div class="checkbox_wrap">
            <div class="checkbox_container row"></div>
        </div>
        <ul>
            <li><input placeholder="Недели" class="weeks"></li>
            <li><input placeholder="Время" class="time"></li>
            <li><input placeholder="Предмет" class="subject"></li>
            <li><input placeholder="Преподователь" class="teacher"></li>
            {# не забыть поставить class=last, чтобы потом распознать #}
            <li><input placeholder="Место" class="place"></li>
            <li class="last"><a class="parity">Все</a></li>
        </ul>
</div>