{% extends 'home.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/plan_content.css" %}>
    {#    подключаем стили всех страниц, которые задействованы в открытии ajax запросов#}
    <link rel="stylesheet" type="text/css" href={% static "css/plan_settings.css" %}>
    <link rel="stylesheet" type="text/css"
          href={% static "plug-ins/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.css" %}>
{% endblock %}

{% block scripts_top %}
    <script type="text/javascript" src={% static "library/html2canvas.js" %}></script>
    <script type="text/javascript" src={% static "plug-ins/moments.js/moments_with_locales.js" %}></script>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_plan_editing.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_plan_settings.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_droplists_plan_editing.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_mailing.js" %}></script>
    <script type="text/javascript" src={% static "library/device.js" %}></script>
    <script type="text/javascript"
            src={% static "plug-ins/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js" %}></script>

{% endblock %}

{% block invitation %}
    <div class="inv_description">
        <div class="comment_from_user">
            {{ invitation.comment }}
        </div>
    </div>
    <div class="confirmation">
        <div class="accept">
            Принять
        </div>
        <div class="reject">
            Оклонить
        </div>
    </div>
{% endblock %}

{#правый контент теперь тут#}
{% block right_content %}
    {% include "content_pages/right_content_plan_general.html" %}
{% endblock %}

{% block left_content %}
    {% include "content_pages/left_content.html" %}
{% endblock %}

{% block mailing %}
    <div class="mailing_wrap">
        <div class="mailing_header">
            <div class="mailing_text">
                Рассылка
            </div>

            <div class="mailing_close"></div>
        </div>

        <div class="progress">
            <div class="progress_indicator"></div>
        </div>

        <div class="mailing">
            <textarea placeholder="Ребята, у нас тут такое!!!"></textarea>
        </div>

        <div class="mailing_footer">
            <div class="do_mailing_button">Отправить</div>
        </div>
    </div>
{% endblock %}


{% block other %}
    <div class="KLOSS">

    </div>
{% endblock %}
