{% extends 'home.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/__old/plan_styles.css" %}>
{% endblock %}

{% block scripts_top %}
    <script type="text/javascript" src={% static "library/html2canvas.js" %}></script>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_plan_edit.js" %}></script>
{#     <script type="text/javascript" src={% static "scripts/script_plan_NEW.js" %}></script>#}
    <script type="text/javascript" src={% static "scripts/script_mailing.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_drop_lists_plan.js" %}></script>
{% endblock %}

{% block invitation %}
    <div class="inv_description">
        <div class="comment_from_user">
            {{ invitation.comment }}
        </div>
    </div>
    <div class="confirmation">
        <div class="accept">
            Принять
        </div>
        <div class="reject">
            Оклонить
        </div>
    </div>
{% endblock %}


{% block right_content %}
    {#    <div class="perform_confirmation">#}
    {#        <p>Расписание добавлено</p>#}
    {#        <a href="/home">oк</a>#}
    {#    </div>#}

    <div class="right_content">
        <div class="title_content" plan_id={{ cur_plan.plan.id }}>
            <div id="plan_title">{{ plan_info.0 }}</div>
            <div id="count_title">{{ plan_info.2 }}</div>
        </div>

        <!-- Вывод всех дней недели -->
        <!-- и информации о расписании, относящейся к каждому дню -->
        {% for day in day_of_weeks %}
            <div class="plan_content">
                <div class="plan_window" day_num="{{ day }}">
                    <div class="content_day_title">
                        <div class="tools_panel left">
                            <ul>
                                <li>
                                    <button class="delete_row">Del</button>
                                </li>
                                <li>
                                    <button class="clone_row">Clone</button>
                                </li>
                                {#                                <li>#}
                                {#                                    <button>Отключить</button>#}
                                {#                                </li>#}
                            </ul>
                        </div>
                        <div class="day_title_container">
                            <div class="day_title">{{ day.name }}</div>
                        </div>
                        <div class="tools_panel right">
                            <ul>
                                <li>
                                    <div class=share_button>
                                        <div class="second_layer"></div>
                                        <div class="first_layer">Share</div>
                                    </div>
                                </ul>
                            </li>
                        </div>

                    </div>
                    <div class="day_plan_content">
                        <div class="str_plan str_title">
                            <div class="checkbox_wrap general_checkbox" flag_active="false">
                                <div class="checkbox_container"></div>
                            </div>
                            <ul>
                                <li><a>Недели</a></li>
                                <li><a>Время</a></li>
                                <li><a>Предмет</a></li>
                                <li><a>Преподаватель</a></li>
                                <li><a>Место</a></li>
                                <li><a>Чётность</a></li>

                            </ul>
                        </div>

                        {% for row in plan_rows %}
                            {% if row.day_of_week.id == day.id %}

                                <div class="str_plan change" id="{{ row.id }}">
                                    <div class="checkbox_wrap">
                                        <div class="checkbox_container row"></div>
                                    </div>
                                    <ul>
                                        <li><a class="weeks">{{ row.start_week }}-{{ row.end_week }}</a></li>
                                        <li><a class="time">{{ row.time.get_format_time }}</a></li>
                                        <li><a class="subject">{{ row.subject.name }}</a></li>
                                        <li><a class="teacher">{{ row.teacher.name_short }}</a></li>
                                        <li><a class="place">{{ row.place.name }}</a></li>
                                        {% if row.parity == None %}
                                            <li class="last"><a class="parity">Все</a></li>
                                        {% endif %}
                                        {% if row.parity == 0 %}
                                            <li class="last"><a class="parity">Чет</a></li>
                                        {% endif %}
                                        {% if row.parity == 1 %}
                                            <li class="last"><a class="parity">Нечет</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if is_invitation != True %}
                            <div class="str_plan str_plus">
                                <div class="plus_button_form">
                                    <div class="plus_button"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="info_checkboxes" count=0 flag_general_checkbox="false" tools_flag="false"
                         style="display: none; position: absolute; width: 0; height: 0; top:0; left:0;">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block mailing %}
    <div class="mailing_wrap">
        <div class="mailing_header">
            <div class="mailing_text">
                Рассылка
            </div>

            <div class="mailing_close"></div>
        </div>

        <div class="progress">
            <div class="progress_indicator"></div>
        </div>

        <div class="mailing">
            <textarea placeholder="Ребята, у нас тут такое!!!"></textarea>
        </div>

        <div class="mailing_footer">
            <div class="do_mailing_button">Отправить</div>
        </div>
    </div>
{% endblock %}

{% block other %}
    <div class="KLOSS">

    </div>
{% endblock %}
