{% extends 'home.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/plan_empty.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/plan_content.css" %}>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src={% static "library/device.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_plan_empty.js" %}></script>
{% endblock %}

{% block left_content %}
{% endblock %}
{% block right_content %}

    <div class="right_content">
        <div class="plan_load_progres">
            <div class="plan_load_progres_indicator"></div>
        </div>
        {% if select_flag == True %}
            <div class="row">
                <div class="left-plans col-lg-6 col-md-6 col-xs-12 col-xm-12">
                    <div class="title_content" style="margin-bottom: 15px">
                        <div id="plan_title">
                            <h2> Select your current plan </h2>
                        </div>
                    </div>
                    {% for plan in all_plans %}
                        <div class="text-center">
                            <button class="select_plan btn-primary btn btn-lg"
                                    plan_id="{{ plan.plan.id }}"
                                    {% if forloop.counter == all_plans.count %}
                                    style="margin-bottom: 20px"
                                    {% endif %}
                            >{{ plan.plan.title }}</button>
                        </div>
                    {% endfor %}
                </div>
                <div class="right-plans col-lg-6 col-md-6 col-xs-12 col-xm-12">
                    <div class="title_content" style="margin-bottom: 15px">
                        <div id="plan_title">
                            <h2> Or create new plan </h2>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="create_plan_first btn btn-success btn-lg"
                             style="margin-bottom: 15px">
                            Create
                            new
                            plan
                        </button>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="title_content" style="margin-bottom: 15px">
                <div id="plan_title">
                    <h2> Create your first plan now </h2>
                </div>
            </div>
            <div class="text-center">
                <div class="create_plan_first btn btn-success btn-lg"
                     style="margin-bottom: 15px">Create new plan</div>
            </div>
        {% endif %}
    </div>
{% endblock %}


