{% extends 'home.html' %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/plan_styles.css" %}>
{% endblock %}


{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_plan.js" %}></script>
{% endblock %}

{% block invitation %}
    <div class="inv_description">
        <div class="comment_from_user">
            {{ invitation.comment }}
        </div>
    </div>
    <div class="confirmation">
        <div class="accept">
            Принять
        </div>
        <div class="reject">
            Оклонить
        </div>
    </div>
{% endblock %}


{% block right_content %}
{#    <div class="perform_confirmation">#}
{#        <p>Расписание добавлено</p>#}
{#        <a href="/home">oк</a>#}
{#    </div>#}

    <div class="right_content">
        <div class="title_content">
            <div id="plan_title">{{ plan_info.0 }}</div>
            <div id="count_title">{{ plan_info.2 }}</div>
        </div>

        <!-- Вывод всех дней недели -->
        <!-- и информации о расписании, относящейся к каждому дню -->
        {% for day in day_of_weeks %}
            <div class="plan_content">
                <div class="plan_window">
                    <div class="content_day_title">
                        <div class="day_title">{{ day.name }}</div>
                    </div>
                    <div class="day_plan_content">
                        <div class="str_plan str_title">
                            <ul>
                                <li><a>Недели</a></li>
                                <li><a>Время</a></li>
                                <li><a>Предмет</a></li>
                                <li><a>Преподаватель</a></li>
                                <li><a>Аудитория</a></li>
                            </ul>
                        </div>

                        {% for row in plan_rows %}
                            {% if row.day_of_week.id == day.id %}
                                    <div class="str_plan change" id="{{ row.id }}">
                                        <ul>
                                            <li><a class="weeks">{{ row.start_week }}-{{ row.end_week }}</a></li>
                                            <li><a class="time">{{ row.get_format_time }}</a></li>
                                            <li><a class="subject">{{ row.subject.name }}</a></li>
                                            <li><a class="teacher">{{ row.teacher.name_short }}</a></li>
                                            <li class="last"><a class="place">{{ row.place.name }}</a></li>
                                        </ul>
                                    </div>
                            {% endif %}
                        {% endfor %}
                        {% if is_invitation != True %}
                            <div class="str_plan str_plus">
                                <div class="plus_button_form">
                                    <div class="plus_button"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}