{% extends 'base.html' %}
{% load staticfiles %}


{% block scripts_top %}

    <link rel="stylesheet" type="text/css" href={% static "css/header.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/welcome_base.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/login_reg.css" %}>
{% endblock %}

{% block header %}
    {% include 'templates_for_ajax/header_welcome.html' %}
{% endblock %}


{% block content_page %}
    <div class="welcome_background">
        <div class="welcome_background_fade">
        </div>
    </div>
    <div class="reg_page text-center">
        <form action="" method="post">
            <div class="panel_reg" style="opacity: 0;">

                <div class="row">
                    <div class="col-xs-8 col-lg-7 ">
                        <h3 for="inputFirstName">Регистрация</h3>
                    </div>
                </div>

                <div class="split-line"></div>


                <div class="row">
                    <div class="reg_input_content first col-xs-8 col-lg-7 ">
                        <label for="inputFirstName">Введите ваше Имя</label>
                        {{ form.first_name }}
                    </div>
                </div>


                <div class="row">
                    <div class="reg_input_content col-xs-8 col-lg-7 ">
                        <label for="inputLastName">Введите вашу Фамилию</label>
                        {{ form.last_name }}
                    </div>
                </div>


                <div class="row">
                    <div class="reg_input_content col-xs-8 col-lg-7 ">
                        <label for="inputPassword">Придумайте хороший пароль</label>
                        {{ form.password1 }}
                    </div>
                </div>


                <div class="row">
                    <div class="reg_input_content col-xs-8 col-lg-7">
                        {{ form.password2 }}
                    </div>
                </div>

                <div class="row">
                    <div class="reg_input_content col-xs-8 col-lg-7">
                        <label for="inputEmail">Введите свою почту для рассылки</label>
                        {{ form.email }}
                    </div>
                </div>

                <div class="split-line"></div>


                <div class="row text-center reg_btn_content">

                    <input type="button"
                           id="buttonBack"
                           class="btn input-lg btn-default"
                           value="Назад">


                    <input type="submit"
                           id="buttonEnter"
                           class="btn input-lg  btn-success"
                           value="Регистрация">

                </div>


                <div class="reg_footer row text-center">
                    <a href="/login" id="buttonHelp" type="button"
                       class="btn btn-sm btn-lg btn-link text-center">
                        Уже есть аккаунт? Войдите
                    </a>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block other_content %}
    <div class="row fill-space-bottom">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100px"></div>
    </div>
{% endblock %}


{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_reg.js" %}></script>
    {#    <script type="text/javascript" src={% static "scripts/script_welcome.js" %}></script>#}
{% endblock %}