{% extends 'welcome_base.html' %}
{% load staticfiles %}


{% block scripts_top %}
    <link rel="stylesheet" type="text/css" href={% static "css/__old/welcome_base.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/auth_reg.css" %}>

{% endblock %}


{% block content_page %}

    <div class="container-fluid text-center">
        <div class="row vertical-center-row">
            <div class="col-xs-12 hidden-xs" style="height: 10px;"></div>
            <div class="panel_reg col-xs-11 col-lg-7 col-md-8 col-sm-8 center-block" style="opacity: 0;e ">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="hidden-xs text-center">Sign Up to Intodayer Now!</h2>
                        <h3 class="visible-xs text-center">Sign Up to Intodayer Now!</h3>
                        <div style="height: 20px;" class="visible-xs"></div>
                        <div style="height: 30px;" class="hidden-xs"></div>
                    </div>
                </div>

                <div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 form-content">
                    <form action="" method="post">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-lg-9 col-md-9">
                                    <label for="inputUsername">Введите уникальное имя для входа</label>
                                    {{ form.username }}
                                    <span class="help-block">Ваш уникальный логин, которое будет использоваться для входа на сайт. Его будете знать только вы.</span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-lg-9  col-md-9">
                                    <label for="inputPassword">Придумайте обалденный хороший пароль.</label>
                                    {{ form.password1 }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-lg-9 col-md-9">
                                    {{ form.password2 }}
                                    <span class="help-block">Пароль должен быть не меньше чем 8 символов и содержать хотя бы одну букву другого регистра.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-lg-9 col-md-9">

                                    <label for="inputEmail">Введите свою почту для рассылки</label>
                                    {{ form.email }}
                                    <span class="help-block">Мы будем рассказывать вам только о важных новостях и нововведенях сервиса Intodayer.</span>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label>Нажимая на кнопку "Регистрация" вы соглашаетесь с политикой использования сервиса
                                "Intodayer".</label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-6" style="padding-right:3px">
                                    <input type="button"
                                           id="buttonBack"
                                           class="form-control btn input-lg btn-default"
                                           value="Назад">
                                </div>
                                <div class="col-xs-6" style="padding-left:3px">
                                    <input type="submit"
                                           id="buttonEnter"
                                           class="form-control btn input-lg  btn-success"
                                           value="Регистрация">
                                </div>
                            </div>

                            <div style="height: 10px;"></div>
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <input id="buttonHelp" type="button"
                                           class="form-control btn input-lg btn-link text-center"
                                           value="Уже есть аккаунт? Войдите">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 fill-space-bottom hidden-xs"></div>
            <div class="col-xs-12" style="height: 30px;"></div>
        </div>
    </div>


{% endblock %}


{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_reg.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_welcome_utils.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_reg_info_check.js" %}></script>
{% endblock %}