{% extends 'home.html' %}
{% load staticfiles %}
{#{% load new_tags %}#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/statistics.css" %}>
{% endblock %}

{% block scripts_top %}
    <script type="text/javascript" src={% static "scripts/script_statistics.js" %}></script>
{% endblock %}

{% block right_content %}
    <div class="right_content">
        <div class="st_white_block">
            <div id="plan_title">{{ cur_plan_info.0 }}</div>
            <div id="count_title">{{ cur_plan_info.2 }}</div>
        </div>
        {% for subject, subject_info in data.items %}


            <div class="stat_day_content ">
                <h3 class="stat_subject_title">{{ subject }}</h3>
                <div class="stat_lines_container">

                    {% for num_day, values_pack in subject_info.items %}
                        <ul class="stat_line">
                            {#                                <li class="stat_day_num">#}
                            {#                                    {% if num_day == '1' %}#}
                            {#                                        Пн.#}
                            {#                                    {% endif %}#}
                            {#                                    {% if num_day == '2' %}#}
                            {#                                        Вт.#}
                            {#                                    {% endif %}#}
                            {#                                    {% if num_day == '3' %}#}
                            {#                                        Ср.#}
                            {#                                    {% endif %}#}
                            {#                                    {% if num_day == '4' %}#}
                            {#                                        Пт.#}
                            {#                                    {% endif %}#}
                            {#                                    {% if num_day == '5' %}#}
                            {#                                        Чт.#}
                            {#                                    {% endif %}#}
                            {#                                    {% if num_day == '6' %}#}
                            {#                                        Сб.#}
                            {#                                    {% endif %}#}
                            {#                                    {% if num_day == '7' %}#}
                            {#                                        Вс.#}
                            {#                                    {% endif %}#}
                            {##}
                            {#                                </li>#}
                            {% for bit_stat in values_pack %}
                                {% if bit_stat == 0 %}
                                    <li class="bit_stat_false">
                                        &nbsp;
                                    </li>
                                {% else %}
                                    <li class="bit_stat_true">
                                        &nbsp;
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    {% endfor %}

                    <div class="weeks_line">
                        <ul>
                            {#                                {% for i  %}#}
                            {##}
                            {#                                {% endfor %}#}

                        </ul>
                    </div>
                </div>
            </div>


        {% endfor %}

    </div>
{% endblock %}

{% block mini_scripts %}
    <script>
        $('#statistic').css('background', 'white');
    </script>
{% endblock %}
