{% extends 'home.html' %}
{% load staticfiles %}
{#{% load new_tags %}#}

{% block styles %}
    <link rel="stylesheet" type="text/css" href={% static "css/statistics.css" %}>
{% endblock %}

{% block scripts_top %}
    <script type="text/javascript" src={% static "scripts/script_statistics.js" %}></script>
{% endblock %}

{% block right_content %}




{#    {% for subject, subject_info in data %}#}
{#        {% for day_num, key in data.subject %}#}
{#            <div>{{ subject_info }}</div>#}
{##}
{#        {% endfor %}#}
{##}
{#    {% endfor %}#}

{% endblock %}