{% extends 'base.html' %}
{% load staticfiles %}

<meta name="google-site-verification" content="vgQGeTwcgfR6IFXfMhmILGG637INFxyzxeIPDRLqkXo" />

{% block scripts_top %}
    <link rel="stylesheet" type="text/css" href={% static "css/welcome_base.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/welcome.css" %}>
{% endblock %}

{% block header %}
    {% include 'templates_for_ajax/header_welcome.html' %}
{% endblock %}

{% block center_content_wide %}
{% endblock %}

{% block content_page %}
    <div id="particles-js">
        <div class="welcome_background_fade">
        </div>
    </div>
    <div class="welcome_page container-fluid text-center">

        <div class="row welcome_top_content">
            <div class="welcome_info_content col-lg-4 col-md-4 col-sm-4 col-xs-4">

                <img src="../static/icons/Profi_icons_2x/Profi_icons_39@2x.png">
                <p>Делись со всеми</p>

            </div>
            <div class="welcome_info_content col-lg-4 col-md-4  col-sm-4 c col-xs-4">

                <img src="../static/icons/Profi_icons_2x/Profi_icons_66@2x.png">
                <p>Расписание на целый год</p>
            </div>

            <div class="welcome_info_content col-lg-4 col-md-4  col-sm-4 c col-xs-4">

                <img src="../static/icons/Profi_icons_2x/Profi_icons_71@2x.png">
                <p>Легко и просто</p>
            </div>
        </div>

        <div class="row">
            <div class="welcome_main jumbotron">
                <div class="welcome_main_border">
                    <h1>Welcome to Intodayer </h1>
                    <p>Первый в России сервис удобных расписаний</p>
                </div>
            </div>
        </div>

        <div class="row welcome_content_bottom">

            <div class="col-xs-12 buttons_row">
                <a class="btn btn-danger btn-lg" id="sign_up" href="/registration">Регистрация</a>
                <a class="btn btn-default btn-lg" id="sign_in" href="/login">Войти</a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 welcome_bottom">
                <p>Создавай удобные таблицы с учебным расписанием</p>
            </div>
        </div>

    </div>

    <h3 class="text-center alert-danger btn-lg">Приложение пока что находится в тестовом режиме</h3>

{% endblock %}

{% block other_content %}
    <div class="row fill-space-bottom">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100px"></div>
    </div>
{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_welcome.js" %}></script>
{% endblock %}



