{% extends 'welcome_base.html' %}
{% load staticfiles %}


{% block scripts_top %}
    <link rel="stylesheet" type="text/css" href={% static "css/welcome_base.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/header.css" %}>
{% endblock %}



{% block content_page %}
    <div class="container-fluid text-center">
        <div class="row vertical-center-row">
            <div class="col-xs-12 hidden-xs" style="height: 30px;"></div>
            <div class="col-xs-12 visible-xs" style="height: 10px;"></div>
            <div class="col-xs-12">
                <div class="welcome_text" style="opacity: 0">
                    <h1 class="hidden-lg hidden-md hidden-sm">Welcome to Intodayer</h1>
                    <h1 class="big-h1 visible-lg visible-md visible-sm">Welcome to Intodayer</h1>
                    <div style="height: 5px;"></div>
                    <h2 class="welcome_text">follow your day now</h2>
                </div>
            </div>

            <div class="col-xs-12" style="height: 10px;"></div>
            <div class="col-xs-12 hidden-xs" style="height: 20px;"></div>

            <div class="col-xs-12 buttons_row" style="opacity: 0">
                <a class="btn btn-success btn-lg" id="sign_up" href="/registration">Sing Up</a>
                <a class="btn btn-default btn-lg" id="sign_in" href="/login">Sing In</a>
            </div>

            <div style="height: 10px;"></div>
            <div style="height: 20px;" class="hidden-xs"></div>

            <div class="col-xs-12 about_service_text" style="opacity: 0">
                <h4>Создавай таблицы с учебным расписанием на весь день</h4>
                <h5> Каждый день..</h5>
            </div>

            <div class="col-xs-12 fill-space-bottom hidden-xs"></div>
            <blockquote class="bottom_text hidden-xs" style="opacity: 0">
                <p>Это, несомненно, лучший сервис электронных расписаний в России </p>
                <footer>Разработчик сервисов Вконтакте и Телеграм <cite title="Source Title">Павел Дуров</cite>
                </footer>
            </blockquote>
        </div>
    </div>

{% endblock %}



{% block scripts_bottom %}
    <script type="text/javascript" src={% static "scripts/script_welcome.js" %}></script>
    <script type="text/javascript" src={% static "scripts/script_welcome_utils.js" %}></script>
{% endblock %}



