{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Three pachans Web Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">

    {#Импорт фрэймворков#}
        <script type="text/javascript" src={% static "library/jquery-3.1.1.js" %}></script>
    <link rel="stylesheet" type="text/css" href={% static "library/bootstrap-3.3.2-dist/css/bootstrap.css" %}>
{#    <script src="http://code.jquery.com/jquery-latest.js"></script>#}
    <script type="text/javascript" src={% static "library/jquery.animate-colors.js" %}></script>
    <script type="text/javascript" src={% static "library/bootstrap-3.3.2-dist/js/bootstrap.js" %}></script>

    {#Импорт шрифтов для всего сайта#}
    <link rel="stylesheet" href={% static 'css/fonts/cynthopro/cynthopro.css' %}>
    <link rel="stylesheet" href={% static 'css/fonts/firasans/firasans.css' %}>
    <link rel="stylesheet" href={% static 'css/fonts/ptsans/ptsans.css' %}>
    <link rel="stylesheet" href={% static 'css/fonts/SegoeUI/SegoeUI.css' %}>

    {#Общее#}
    <link rel="stylesheet" type="text/css" href={% static "css/__old/fonts_optimizate.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/__old/../static/css/home_top.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/general_style.css" %}>
    {#    <link rel="stylesheet" type="text/css" href={% static "css/welcome_auth_reg.css" %}>#}


    <!--Добавление в наследующие шаблоны новых скриптов-->
    {% block scripts_top %}{% endblock %}

</head>
<body>
{% block header %}
    <div class="container-fluid">
        <div class="row top-block">
            <div class="col-xs-12 top">
                <div class="logo"><a href="/home">IntoDayer</a></div>
            </div>
        </div>
    </div>
{% endblock %}

 <div class="center_page">
        <div class="center_table">
{% block content_page %}{% endblock %}
        </div>
 </div>


{% block footer %}
    <div class="footer">
        <p class="text-center">Denis Borisov & Alexey Krotkov © 2017</p>
    </div>
{% endblock %}

</body>

<!--Добавление в наследующие шаблоны новых скриптов-->
{% block scripts_bottom %}{% endblock %}
</html>