{% load staticfiles %}
<html>
<head>
    <title>Three pachans Web Site</title>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
<!--
    <link rel="stylesheet" type="text/css" href="../test/style/fonts.css">
    <link rel="stylesheet" type="text/css" href="../test/style/general_style.css">
    <link rel="stylesheet" type="text/css" href="../test/style/welcome-auth-reg_style.css">
    <script type="text/javascript" src="../test/library/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../test/library/jquery.animate-colors.js"></script>
-->
    <link rel="stylesheet" type="text/css" href={% static "css/fonts.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "css/general_style.css"%}>
    <link rel="stylesheet" type="text/css" href={% static "css/welcome-auth-reg_style.css"%}>
    <script type="text/javascript" src={% static "library/jquery-3.1.1.js"%}></script>
    <script type="text/javascript" src={% static "library/jquery.animate-colors.js"%}></script>

</head>
<body>
<div class="top-block">
    <div class="top">
        <div class="logo"><a href="">IntoDayer</a></div>
        <div id="sing_up-top"><a href="/registration">Sign up</a></div>
        <div id="login-top"><a href="/login">Log In</a></div>
    </div>
</div>

</body>

<div class="page">
    <div class="text">
        <h1>Welcome to Intodayer</h1>
        <h2>follow your day now</h2>
    </div>
    <div class="enter">
        <ul>
            <li id="sign_in"><a href="/login">Sign In</a></li>
            <li id="sign_up"><a href="/registration">Sign Up</a></li>
        </ul>
    </div>

    <h3>Создавай таблицы с учебным расписанием на весь день. Каждый день.</h3>

</div>
<!--
<script type="text/javascript" src="../test/scripts/set-screen-size.js"></script>
<script type="text/javascript" src="../test/scripts/script_welcome.js"></script>
-->
<script type="text/javascript" src={%static "scripts/set-screen-size.js"%}></script>
<script type="text/javascript" src={%static "scripts/script_welcome.js"%}></script>

</html>
