{% load staticfiles %}

{% block right_content %}
    <div class="plan_load_progres">
        <div class="plan_load_progres_indicator"></div>
    </div>

    <div class="setting_info_block"></div>

    <div class="title_content" plan_id="{{ cur_plan.plan.id }}">
        <div class="setting_left">

        </div>

        <div class="plan_title" id="plan_title" {% if user_has_edit_role %}user_has_edit_role="yes"{% endif %}>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <input id='title_edit_input' disabled="disabled" type="text" value="{{ cur_plan.plan.title }}">
            </div>
            <div id="count_title">{{ cur_plan.plan.count_of_users }}</div>
        </div>

        <div class="setting_right">
            {% if user_has_invite_participants %}
                <div class="icon_setting_content">
                    <button class="part_settings">Пригласить</button>
                    {#                <span class="part_settings glyphicon glyphicon-plus"></span>#}
                </div>
            {% endif %}
        </div>

    </div>
    <div class="setting_invite">
    </div>
    <div class="part_content">
        {% for participant in participants %}
            {% include "components/participant_block.html" %}
        {% endfor %}
    </div>


{% endblock %}

{#{% block components %}#}
{#    {% include "components/participant_empty_block.html" %}#}
{#{% endblock %}#}