{% block right_content %}
    <div class="plan_load_progres">
        <div class="plan_load_progres_indicator"></div>
    </div>

    <div class="setting_info_block"></div>

    <div class="title_content" plan_id="{{ cur_plan.plan.id }}">
        <div class="setting_left">

        </div>

        <div class="plan_title" id="plan_title" {% if user_has_edit_plan %}user_has_edit_plan="yes"{% endif %} user_role="{{ user_role }}">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <input class="settings_input" id='title_edit_input' disabled="disabled" type="text" value="{{ cur_plan.plan.title }}" placeholder="Имя расписания">
            </div>
            <div id="count_title">{{ cur_plan.plan.count_of_users }}</div>
        </div>

        <div class="setting_right">
            {% if user_has_edit_plan %}
                <div class="icon_setting_content">
                    <span class="plan_settings glyphicon glyphicon-pencil"></span>

                </div>
            {% endif %}
            {% if not user_has_edit_plan %}
                <div class="icon_setting_content">
                    <span class="plan_settings glyphicon glyphicon glyphicon-info-sign"></span>
                </div>
            {% endif %}
        </div>


    </div>

    <!-- Вывод всех дней недели -->
    <!-- и информации о расписании, относящейся к каждому дню -->
    {#    <div class="plan_content">#}
    {% include "content_pages/right_content_plan.html" %}
    {#    </div>#}
{% endblock %}