
h1{
    font-size: 2rem;
    color: white;
}

body{
    font-family: "Helvetica";
    text-align: center;
    margin: auto;
}
.page {
    background-color: rgba(255, 255, 255, 1);
	margin: auto;
	width: 1200px;	
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}

.page .top {
	background-color: rgba(242, 242, 242, 1);
}
.content{
    width: 100%;
    /*небольшой отступ от центра*/
    margin-bottom: 2rem;
}

.top-panel{
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 1rem;
    background: rgba(0,0,0,0.5);
}


.panel{
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    width: 100%;
    background: white;
}


.panel p{
    font-size: 1.5em;
}

.fields{ 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;

}

.material-textfield{
    display: inline-block;
    text-align: left;
    height: 4rem;
    padding-top: 1rem;
}

.fields input{
    background: none;
    border: none;
    display: block;
    font-size: 1rem;
    padding: 0.45rem 0.1rem;
    width: 100%;
}

input:invalid{
    box-shadow: none
}

input:focus{
    outline: none
}

label{
    display: inline-block;
    font-size: 0;
    pointer-events: none;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

label::before{
    content: attr(data-content);
    position: relative;
    transition: all 0.2s ease;
    color: rgba(0,0,0,0.6);
    left: 0;
}

label::after{
    content: '';
    height: 0.3rem;
    left: 0%;
    position: absolute;
    transition: all 0.2s ease;
    width: 0;
}

label::before, input[required]:focus ~ label::before{
    font-size: 0.65rem;
    top: -3rem;
}

input[required]:focus ~ label::before{
    color: rgba(0,0,0,0.5);
}


input:focus, input[required]:focus ~ label::after{
    left: 0%;
    width: 100%;
}

/*  нижняя полоска остаётся, когда мы ввели требуемое знач. в поле*/
input[required] ~ label::after{
    width: 100%;
}



input:invalid ~ label::before{
    font-size: 1rem;
    top: -2rem;
}


/* стиль по умолчанию для нижних полосок*/
input:invalid ~ label::after{
    left: 0%;
    width: 0%;
}

/*Конструктор цветов*/


.material-textfield input{
        border-bottom: 0.1rem solid #03A9F4;
        color: black;
    }

.material-textfield label::after{
    background: #03A9F4;
}


.buttons{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.button-into, .button-reg{
    float: left;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border: none;
    height: 3rem;
    width: 100px;
    background:  none;
    transition: all 0.1s ease;
}
.button-into{
    border: none;
    background: rgba(3,169,244,1);
    color: white;
  
}

.button-into:hover{
    background: rgba(3,169,244,0.6);
    transition: all 0.1s ease;
    
}
.button-reg:hover{
    background: black;
    border-color: black;
    color: white;
    transition: all 0.2s ease;
}

.button-into:active{
    background: gray;
    color: #D9D9D9;
    transition: none;
}

.button-reg:active{
    background: gray;
    border-color: gray;
    color: #D9D9D9;
    transition: none;
}
    
.quest:hover{
    color: rgba(3,169,244,1);
    transition: all 0.1s ease;
}

.quest:active{
    color: gray;
    transition: all 0.1s ease;
}

button:focus{
    outline: none
}

.quest{
    margin: 10px;
    border: none;
    background:  none;
    font-size: 12px;
    text-decoration: underline;
}

.bottom-panel{
    position: relative;
    margin-top: 8rem;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0,0,0,0.5); 
    width: 100%;
}
